
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class=" jumbotron col-sm-4 col-sm-offset-4" style="background-color:mediumturquoise">
                <div class="row">
                    <img src="~/images/Imagen1.png" style="width:100px; height:100px; align-content:center; margin-left:39%" class="col-sm-6 col-sm-offset-6" />
                    <h1 style="text-align: center; color: white" class="active">Iniciar Sesión</h1>
                </div>
                <div class="row">
                    <form action="@Url.Action("Index","Acceso")" class="bg-primary" style="padding:10px;background-color:mediumturquoise" method="post">
                        <input type="hidden" name="contador" value="0" />

                        <div class="form-group">
                            <br />
                            <label style="color: white">Usuario:</label>
                            <input class="form-control" type="email" name="correo" />
                        </div>

                        <div class="form-group">
                            <label style="color: white">Contraseña:</label>
                            <input class="form-control" type="password" name="clave" />
                            <br />
                            <button type="submit" class="col-lg-offset-4 btn btn-lg" style="background-color:forestgreen; color:white">Ingresar</button>
                        </div>
                        <div class="form-group">
                            <a href="../Recuperar_Password/" style="text-align:center" class="col-lg-offset-3">Reestablecer Contraseña</a>
                        </div>
                    </form>  
                    @*<div class="col-sm-4 col-sm-offset-0">
                        <div class="g-recaptcha" data-sitekey="6LfXd9ogAAAAAMBdrLO-ios9vszJaU_piaTDGhH_"></div>
                    </div>*@
                </div>
                </div>

            </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>