
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="text-align:center">Asistencias por Nivel</h1>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Casa Cuna 1</h2>
        <p>Asistencias Casa Cuna 1</p>
        <p><a href="/CasaCuna1/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Casa Cuna 2</h2>
        <p>Asistencias de Casa Cuna 2</p>
        <p><a href="/CasaCuna2/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Materno</h2>
        <p>
            Asistencias de Materno
        </p>
        <p><a href="/Materno/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pre-Kínder</h2>
        <p>
            Asistencias de Pre-Kínder
        </p>
        <p><a href="/PreKinders/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Kínder</h2>
        <p>Asistencias Casa Cuna 1</p>
        <p><a href="/CasaCuna1/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Hogar Escuela 1</h2>
        <p>Asistencias de Casa Cuna 2</p>
        <p><a href="/HogarEscuela1/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Hogar Escuela 2</h2>
        <p>
            Asistencias de Materno
        </p>
        <p><a href="/HogarEscuela2/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Hogar Escuela 3</h2>
        <p>
            Asistencias de Hogar Escuela 3
        </p>
        <p><a href="/HogarEscuela3/Index" class="btn btn-primary btn-lg btn-group-justified">Pasar Asistencia &raquo;</a></p>
    </div>
</div>

