
@{
    Layout = null;
}



<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>

    <div class="container">

        <div class="row">


            <div class=" jumbotron col-sm-4 col-sm-offset-4" style="background-color:mediumturquoise">
                <img src="~/images/Imagen1.png" style="width:100px; height:100px; align-content:center ;margin-left:39%" class="col-sm-4 col-sm-offset-4" class="col-sm-4 col-sm-offset-4" />
                <h2 style="text-align: center; color: white" class="active">Recuperar Accesos</h2>

                <form action="@Url.Action("Reactivar_Cuenta","Recuperacion_Accesos")" class="bg-primary" style="padding:10px;background-color:mediumturquoise" method="post", onsubmit ="return verificarContrasenna()">

                    <input type="hidden" name="contador" value="0" />

                    <div class="form-group">
                        <label style="color: white">Contraseña:</label>
                        <input class="form-control" type="password" name="clave1" id="clave1" />
                        <span id="message" style="color:red"> </span> <br><br>

                    </div>
                    <div class="form-group">
                        <label style="color: white">Repita Contraseña:</label>
                        <input class="form-control" type="password" name="clave2" id="clave2" />
                        <span id="message2" style="color:red"> </span> <br>
                        <button type="submit" class=" btn btn-group-xs form-control" style="background-color: forestgreen; color: white; text-align: center; margin-left: 0%">Cambiar Clave</button>
                    </div>
                   
                </form>
                <div>
                    <p style="text-align:justify;color:white">El formato de la clave debe contener al menos una letra mayúsculan,minúscula,digito numeral y caracter especial</p>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/funciones.js"></script>

</body>
</html>

