
@{
    ViewBag.Title = "Inventarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="text-align:center">Administración de Inventarios</h1>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cocina</h2>
        <p>
            Control de Inventarios de Cocina
        </p>
        <p><a href="/INVENTARIO_COCINA/Index" class="btn btn-primary btn-lg btn-group-xs">Administrar cocina &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Computación</h2>
        <p>Control de activos computacionales</p>
        <p><a href="/ACTIVOS_LUZ_DIVINA_COMPUTO/Index" class="btn btn-primary btn-lg btn-group-xs">Administrar activos computacionales &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Recreativos</h2>
        <p>Control de activos recreativos</p>
        <p><a href="/ACTIVOS_LUZ_DIVINA_RECREATIVOS" class="btn btn-primary btn-lg btn-group-xs">Administrar activos recreativos &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Eléctricos</h2>
            <p>Control de activos eléctricos</p>
            <p><a href="/ACTIVOS_LUZ_DIVINA_ELECTRICOS/Index" class="btn btn-primary btn-lg btn-group-xs">Administrar activos eléctricos &raquo;</a></p>
        </div>
    </div>
</div>




