
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="text-align:center">Panel Administrativo</h1>
    <h2 style="text-align:center">Empleados y Cargos</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Empleados</h2>
        <p>
            Control de la comunidad Estudiantil
        </p>
        <p><a href="/Funcionarios/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Empleados &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Cargos</h2>
        <p>Control de cargos</p>
        <p><a href="/Cargos/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Empleados &raquo;</a></p>
       
    </div>
</div>
