@{
    ViewBag.Title = "Contact";
}



<h1>Evaluaciones de desempeño</h1>
<br />
<br />

<div class="row">
    <div class="col-md-4">

        <p><a href="/E_Tipo/Index" class="btn btn-default" style="background-color: #D4D5D5 ">Mantenimiento de categorias &raquo;</a></p>
    </div>
</div>

<div class="jumbotron" style="background-color: #D4D5D5">

   

    <div class="row">
        <div class="col-md-4">
            <h2><b>Psicologia</b></h2>
            <p>Evaluacion de desempeño de Psicologia</p>

            <a href="/E_Psicologia/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Psicologia/EvaluacionPsicologia" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>

        </div>
        <div class="col-md-4">
            <h2><b>Docente</b></h2>
            <p>
                Evaluacion de desempeño de Docente
            </p>
            <a href="/E_Docente/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Docente/EvaluacionDocente" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2><b>Asistente</b></h2>
            <p>
                Evaluacion de desempeño de Asistente
            </p>
            <a href="/E_Asitente/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Asitente/EvaluacionAsistente" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>

        </div>

        <div class="col-md-4">
            <h2><b>Chofer</b></h2>
            <p>
                Evaluacion de desempeño de Chofer
            </p>
            <a href="/E_Chofer/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Chofer/EvaluacionChofer" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2><b>Misceláneo</b></h2>
            <p> Evaluacion de desempeño de Misceláneo</p>
            <a href="/E_Misceláneo/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Misceláneo/EvaluacionMisceláneo" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2><b>Cocina</b></h2>
            <p>
                Evaluacion de desempeño de Cocina
            </p>
            <a href="/E_Cocina/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Cocina/EvaluacionCocina" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2><b>Auxiliar</b></h2>
            <p>
                Evaluacion de desempeño de Auxiliar
            </p>
            <a href="/E_Auxiliar/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Auxiliar/EvaluacionAuxiliar" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2><b>Director/a</b></h2>
            <p>
                Evaluacion de desempeño de Director/a
            </p>
            <a href="/E_Directora/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Directora/EvaluacionDirectora" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2><b>Trabajador Social</b></h2>
            <p>
                Evaluacion de desempeño de Director/a
            </p>
            <a href="/E_Trabajador_Social/Index" class="btn btn-default" style="background-color: #ffffff">Mantenimiento &raquo;</a>
            <a href="/E_Trabajador_Social/EvaluacionTrabajador_Social" class="btn btn-default" style="background-color: #ffffff">Tabla Evaluativa &raquo;</a>
        </div>
    </div>
</div>
