@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron" style="background-color: #D4D5D5">
    <h1>Evaluaciones de desempeño</h1>
   
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Psicologia</h2>
        <p>Evaluacion de desempeño de psicologia</p>
        
        <p><a href="/Evaluaciones/EvaluacionPsicologia" class="btn btn-default" style="background-color: #D4D5D5">Evaluacion de Psicologia &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Docente</h2>
        <p>
            Evaluacion de desempeño de docente
        </p>
        <p><a href="/Evaluaciones/EvaluacionDocente" class="btn btn-default" style="background-color: #D4D5D5">Evaluacion de Docente &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Asistente</h2>
        <p>
            Evaluacion de desempeño de asistente
        </p>
        <p><a href="/Evaluaciones/EvaluacionAsistente" class="btn btn-default" style="background-color: #D4D5D5" >Evaluacion de Asistente &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Chofer</h2>
        <p> 
            Evaluacion de desempeño de chofer
        </p>
        <p><a href="/Evaluaciones/EvaluacionChofer" class="btn btn-default"style="background-color: #D4D5D5" >Evaluacion de Chofer &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Miselanea</h2>
        <p> Evaluacion de desempeño de miselanea</p>
        <p><a href="/Evaluaciones/EvaluacionMiselanea" class="btn btn-default" style="background-color: #D4D5D5" >Evaluacion de Miselanea &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Cocina</h2>
        <p>
            Evaluacion de desempeño de cocina
        </p>
        <p><a href="/Evaluaciones/EvaluacionCocina" class="btn btn-default" style="background-color: #D4D5D5" >Evaluacion de Cocina &raquo;</a></p>
    </div>
</div>