@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 style="text-align:center">Panel Administrativo</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumnos</h2>
        <p>
            Control de la comunidad Estudiantil
        </p>
        <p><a href="/Estudiantes/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Alumnos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleados y Cargos</h2>
        <p>Control de planilla de la institución y cargos</p>
        <p><a href="/AdminPlanillaCargos/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Empleados &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventarios</h2>
        <p>Administración de bienes</p>
        <p><a href="/Inventarios/Inventarios" class="btn btn-primary btn-lg btn-group-justified">Administrar Inventarios &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Niveles</h2>
        <p>Control de Niveles Estudiantiles</p>
        <p><a href="/Nivel_Estudiante/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Niveles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Evaluaciones</h2>
        <p>Evaluación de desempeño</p>
        <p><a href="/Home/Evaluaciones" class="btn btn-primary btn-lg btn-group-justified">Ir Evaluaciones&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Asistencias</h2>
        <p>Control de Asistencias</p>
        <p><a href="/Asistencias/Index" class="btn btn-primary btn-lg btn-group-justified">Servicios Comunales &raquo;</a></p>
    </div>
</div>