@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    <h1 style="text-align:center">Panel Administrativo</h1>

</div>



<div class="row">
    <div class="col-md-4">
        <h2>Alumnos</h2>
        <p>
            Control de la comunidad Estudiantil
        </p>
        <p><a href="/Citas/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Alumnos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>Control de plantilla y manejo de Evaluaciones</p>
        <p><a href="/INVENTARIO_COCINA/Index" class="btn btn-primary btn-lg btn-group-justified">Administrar Empleados &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventarios</h2>
        <p>Administración de bienes</p>
        <p><a href="/Inventarios/Inventarios" class="btn btn-primary btn-lg btn-group-justified">Administrar Inventarios &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Citas de Matrícula</h2>
        <p>Solicitudes de cita de matrícula</p>
        <p><a href="/INVENTARIO_COCINA/Index" class="btn btn-primary btn-lg btn-group-justified">Ir citas de Matrícula &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Evaluaciones</h2>
        <p>Evaluación de desempeño</p>
        <p><a href="/Home/Evaluaciones" class="btn btn-primary btn-lg btn-group-justified">Ir Evaluaciones&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Servicios Comunales</h2>
        <p>Control de Servicios Comunales</p>
        <p><a href="/INVENTARIO_COCINA/Index" class="btn btn-primary btn-lg btn-group-justified">Servicios Comunales &raquo;</a></p>
    </div>
</div>