
@{
    ViewBag.Title = "EvaluacionChofer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
        function Calcular() {
            //Cumple con la normativa interna
            var CNITOTAL;
            var cont1 = 0;

            var CNI1 = document.getElementById("CNI1");
            if (CNI1.checked == true) {
                cont1 = 5;
            }
            var CNI2 = document.getElementById("CNI2");
            if (CNI2.checked == true) {
                cont1 = 4;
            }
            var CNI3 = document.getElementById("CNI3");
            if (CNI3.checked == true) {
                cont1 = 3;
            }
            var CNI4 = document.getElementById("CNI4");
            if (CNI4.checked == true) {
                cont1 = 2;
            }
            var CNI5 = document.getElementById("CNI5");
            if (CNI5.checked == true) {
                cont1 = 1;
            }
            var CNITOTAL = cont1;
            document.getElementById('CNITOTAL').value = CNITOTAL;

            //Cumple con el horario establecido

            var CCHETOTAL;
            var cont2 = 0;

            var CCHE1 = document.getElementById("CCHE1");
            if (CCHE1.checked == true) {
                cont2 = 5;
            }
            var CCHE2 = document.getElementById("CCHE2");
            if (CCHE2.checked == true) {
                cont2 = 4;
            }
            var CCHE3 = document.getElementById("CCHE3");
            if (CCHE3.checked == true) {
                cont2 = 3;
            }
            var CCHE4 = document.getElementById("CCHE4");
            if (CCHE4.checked == true) {
                cont2 = 2;
            }
            var CCHE5 = document.getElementById("CCHE5");
            if (CCHE5.checked == true) {
                cont2 = 1;
            }

            var CCHETOTAL = cont2;
            document.getElementById('CCHETOTAL').value = CCHETOTAL;

            //Mantiene limpieza y buen estado del vehiculo
            var MLYBVTOTAL;
            var cont3 = 0;

            var MLYBV1 = document.getElementById("MLYBV1");
            if (MLYBV1.checked == true) {
                cont3 = 5;
            }
            var MLYBV2 = document.getElementById("MLYBV2");
            if (MLYBV2.checked == true) {
                cont3 = 4;
            }
            var MLYBV3 = document.getElementById("MLYBV3");
            if (MLYBV3.checked == true) {
                cont3 = 3;
            }
            var MLYBV4 = document.getElementById("MLYBV4");
            if (MLYBV4.checked == true) {
                cont3 = 2;
            }
            var MLYBV5 = document.getElementById("MLYBV5");
            if (MLYBV5.checked == true) {
                cont3 = 1;
            }
            var MLYBVTOTAL = cont3;
            document.getElementById('MLYBVTOTAL').value = MLYBVTOTAL;

            //BRINDA MANTENIMIENTO PREVENTIVO A UNIDADES DEL TRABAJO

            var BMPUTTOTAL;
            var cont4 = 0;

            var BMPUT1 = document.getElementById("BMPUT1");
            if (BMPUT1.checked == true) {
                cont4 = 5;
            }
            var BMPUT2 = document.getElementById("BMPUT2");
            if (BMPUT2.checked == true) {
                cont4 = 4;
            }
            var BMPUT3 = document.getElementById("BMPUT3");
            if (BMPUT3.checked == true) {
                cont4 = 3;
            }
            var BMPUT4 = document.getElementById("BMPUT4");
            if (BMPUT4.checked == true) {
                cont4 = 2;
            }
            var BMPUT5 = document.getElementById("BMPUT5");
            if (BMPUT5.checked == true) {
                cont4 = 1;
            }

            var BMPUTTOTAL = cont4;
            document.getElementById('BMPUTTOTAL').value = BMPUTTOTAL;

            //  REPORTA DEFECTOS QUE SUFRE EL EQUIPO

            var RDSETOTAL;
            var cont5 = 0;
            var RDSE1 = document.getElementById("RDSE1");
            if (RDSE1.checked == true) {
                cont5 = 5;
            }
            var RDSE2 = document.getElementById("RDSE2");
            if (RDSE2.checked == true) {
                cont5 = 4;
            }
            var RDSE3 = document.getElementById("RDSE3");
            if (RDSE3.checked == true) {
                cont5 = 3;
            }
            var RDSE4 = document.getElementById("RDSE4");
            if (RDSE4.checked == true) {
                cont5 = 2;
            }
            var RDSE5 = document.getElementById("RDSE5");
            if (RDSE5.checked == true) {
                cont5 = 1;
            }
            var RDSETOTAL = cont5;
            document.getElementById('RDSETOTAL').value = RDSETOTAL;

            //COLABORA EN CARGA Y DESCARGA DE MATERIALES
            var CCDMTOTAL;
            var cont6 = 0;

            var CCDM1 = document.getElementById("CCDM1");
            if (CCDM1.checked == true) {
                cont6 = 5;
            }
            var CCDM2 = document.getElementById("CCDM2");
            if (CCDM2.checked == true) {
                cont6 = 4;
            }
            var CCDM3 = document.getElementById("CCDM3");
            if (CCDM3.checked == true) {
                cont6 = 3;
            }
            var CCDM4 = document.getElementById("CCDM4");
            if (CCDM4.checked == true) {
                cont6 = 2;
            }
            var CCDM5 = document.getElementById("CCDM5");
            if (CCDM5.checked == true) {
                cont6 = 1;
            }

            var CCDMTOTAL = cont6;
            document.getElementById('CCDMTOTAL').value = CCDMTOTAL;

            //Participa en las capacitaciones
            var PECTOTAL;
            var cont7 = 0;
            var PEC1 = document.getElementById("PEC1");
            if (PEC1.checked == true) {
                cont7 = 5;
            }

            var PEC2 = document.getElementById("PEC2");
            if (PEC2.checked == true) {
                cont7 = 4;
            }

            var PEC3 = document.getElementById("PEC3");
            if (PEC3.checked == true) {
                cont7 = 3;
            }

            var PEC4 = document.getElementById("PEC4");
            if (PEC4.checked == true) {
                cont7 = 2;
            }

            var PEC5 = document.getElementById("PEC5");
            if (PEC5.checked == true) {
                cont7 = 1;
            }
            var PECTOTAL = cont7;
            document.getElementById('PECTOTAL').value = PECTOTAL;

            //DISPONIBILIDAD
            var DISPTOTAL;
            var cont8 = 0;
            var DISP1 = document.getElementById("DISP1");
            if (DISP1.checked == true) {
                cont8 = 5;
            }
            var DISP2 = document.getElementById("DISP2");
            if (DISP2.checked == true) {
                cont8 = 4;
            }
            var DISP3 = document.getElementById("DISP3");
            if (DISP3.checked == true) {
                cont8 = 3;
            }
            var DISP4 = document.getElementById("DISP4");
            if (DISP4.checked == true) {
                cont8 = 2;
            }
            var DISP5 = document.getElementById("DISP5");
            if (DISP5.checked == true) {
                cont8 = 1;
            }
            var DISPTOTAL = cont8;
            document.getElementById('DISPTOTAL').value = DISPTOTAL;

            //PUNTUALIDAD
            var PNTLTOTAL;
            var cont9 = 0;
            var PNTL1 = document.getElementById("PNTL1");
            if (PNTL1.checked == true) {
                cont9 = 5;
            }
            var PNTL2 = document.getElementById("PNTL2");
            if (PNTL2.checked == true) {
                cont9 = 4;
            }
            var PNTL3 = document.getElementById("PNTL3");
            if (PNTL3.checked == true) {
                cont9 = 3;
            }
            var PNTL4 = document.getElementById("PNTL4");
            if (PNTL4.checked == true) {
                cont9 = 2;
            }
            var PNTL5 = document.getElementById("PNTL5");
            if (PNTL5.checked == true) {
                cont9 = 1;
            }
            var PNTLTOTAL = cont9;

            document.getElementById('PNTLTOTAL').value = PNTLTOTAL;

            //FORTALECE VALORES DE LA INSTITUCION
            var FVITOTAL;
            cont10 = 0;

            var FVI1 = document.getElementById("FVI1");
            if (FVI1.checked == true) {
                cont10 = 5;
            }

            var FVI2 = document.getElementById("FVI2");
            if (FVI2.checked == true) {
                cont10 = 4;
            }

            var FVI3 = document.getElementById("FVI3");
            if (FVI3.checked == true) {
                cont10 = 3;
            }

            var FVI4 = document.getElementById("FVI4");
            if (FVI4.checked == true) {
                cont10 = 2;
            }

            var FVI5 = document.getElementById("FVI5");
            if (FVI5.checked == true) {
                cont10 = 1;
            }
            var FVITOTAL = cont10;
            document.getElementById('FVITOTAL').value = FVITOTAL;

            //CUMPLE LOS PROTOCOLOS DE LA INSTITUCION
            var CPITOTAL;
            var cont11 = 0;

            var CPI1 = document.getElementById("CPI1");
            if (CPI1.checked == true) {
                cont11 = 5;
            }

            var CPI2 = document.getElementById("CPI2");
            if (CPI2.checked == true) {
                cont11 = 4;
            }

            var CPI3 = document.getElementById("CPI3");
            if (CPI3.checked == true) {
                cont11 = 3;
            }

            var CPI4 = document.getElementById("CPI4");
            if (CPI4.checked == true) {
                cont11 = 2;
            }

            var CPI5 = document.getElementById("CPI5");
            if (CPI5.checked == true) {
                cont11 = 1;
            }
            var CPITOTAL = cont11;
            document.getElementById('CPITOTAL').value = CPITOTAL;

            //TRABAJO COLABORATIVO
            var TCTOTAL;
            var cont12 = 0;

            var TC1 = document.getElementById("TC1");
            if (TC1.checked == true) {
                cont12 = 5;
            }

            var TC2 = document.getElementById("TC2");
            if (TC2.checked == true) {
                cont12 = 4;
            }

            var TC3 = document.getElementById("TC3");
            if (TC3.checked == true) {
                cont12 = 3;
            }

            var TC4 = document.getElementById("TC4");
            if (TC4.checked == true) {
                cont12 = 2;
            }

            var TC5 = document.getElementById("TC5");
            if (TC5.checked == true) {
                cont12 = 1;
            }

            var TCTOTAL = cont12;
            document.getElementById('TCTOTAL').value = TCTOTAL;

            //PARTICIPA EN OTRAS ACTIVIDADES AJENAS A SU PUESTO

            var PAAPTOTAL;
            var cont13 = 0;

            var PAAP1 = document.getElementById("PAAP1");
            if (PAAP1.checked == true) {
                cont13 = 5;
            }
            var PAAP2 = document.getElementById("PAAP2");
            if (PAAP2.checked == true) {
                cont13 = 4;
            }
            var PAAP3 = document.getElementById("PAAP3");
            if (PAAP3.checked == true) {
                cont13 = 3;
            }
            var PAAP4 = document.getElementById("PAAP4");
            if (PAAP4.checked == true) {
                cont13 = 2;
            }
            var PAAP5 = document.getElementById("PAAP5");
            if (PAAP5.checked == true) {
                cont13 = 1;
            }
            var PAAPTOTAL = cont13;
            document.getElementById('PAAPTOTAL').value = PAAPTOTAL;

            //EJECUTA OTRAS ACTIVIDADES PROPIAS DE CARGO
            var EOTPCTOTAL;
            var cont14 = 0;

            var EOTPC1 = document.getElementById("EOTPC1");
            if (EOTPC1.checked == true) {
                cont14 = 5;
            }
            var EOTPC2 = document.getElementById("EOTPC2");
            if (EOTPC2.checked == true) {
                cont14 = 4;
            }
            var EOTPC3 = document.getElementById("EOTPC3");
            if (EOTPC3.checked == true) {
                cont14 = 3;
            }
            var EOTPC4 = document.getElementById("EOTPC4");
            if (EOTPC4.checked == true) {
                cont14 = 2;
            }
            var EOTPC5 = document.getElementById("EOTPC5");
            if (EOTPC5.checked == true) {
                cont14 = 1;
            }

            var EOTPCTOTAL = cont14;
            document.getElementById('EOTPCTOTAL').value = EOTPCTOTAL;

            //total de calificaciones
            var CNITOTAL = Number(document.getElementById('CNITOTAL').value);
            var CCHETOTAL = Number(document.getElementById('CCHETOTAL').value);
            var MLYBVTOTAL = Number(document.getElementById('MLYBVTOTAL').value);
            var BMPUTTOTAL = Number(document.getElementById('BMPUTTOTAL').value);
            var RDSETOTAL = Number(document.getElementById('RDSETOTAL').value);
            var CCDMTOTAL = Number(document.getElementById('CCDMTOTAL').value);
            var PECTOTAL = Number(document.getElementById('PECTOTAL').value);
            var DISPTOTAL = Number(document.getElementById('DISPTOTAL').value);
            var PNTLTOTAL = Number(document.getElementById('PNTLTOTAL').value);
            var FVITOTAL = Number(document.getElementById('FVITOTAL').value);
            var CPITOTAL = Number(document.getElementById('CPITOTAL').value);
            var TCTOTAL = Number(document.getElementById('TCTOTAL').value);
            var PAAPTOTAL = Number(document.getElementById('PAAPTOTAL').value);
            var EOTPCTOTAL = Number(document.getElementById('EOTPCTOTAL').value);

            //TOTAL GENERAL
            var TotalGenChofer = CNITOTAL + CCHETOTAL + MLYBVTOTAL + BMPUTTOTAL + RDSETOTAL + CCDMTOTAL +
                PECTOTAL + DISPTOTAL + PNTLTOTAL + FVITOTAL + CPITOTAL + TCTOTAL +
                PAAPTOTAL + EOTPCTOTAL;
            TotalGenChofer = ((TotalGenChofer / 70) * 100).toFixed();
            document.getElementById('TotalGenChofer').value = TotalGenChofer;
        }
    </script>


    <link rel="stylesheet" href="evalChofer.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Evaluaciones</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>

<br />
<br />
<br />

<div class="col-md-6 col-md-offset-1">

    <a href="javascript:generatePDF()" id="downloadButton">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-danger" name="Descargar PDF"
               value="PDF">
    </a>

    <input type="button" style="float: right; margin-right: 90px;" class="btn btn-success" name="suma"
           value="Calcular" onclick="Calcular()"><a href="javascript:location.reload()">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-primary" name="Nuevo"
               value="Nuevo">

    </a>


</div>
<br />
<br />
<br />

<div id="whatToPrint" style="font-size: large; text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black; width: 500px;">
    <form>
        <table class="table table-bordered">
            <tr>
                <td colspan="2"> <img src="~/images/Imagen1.png" width="100" height="100"></td>
                <td colspan="5" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">
                    Evaluación del Desemepeno Luz Divina
                </td>
                <td colspan="2">
                    <input type="text" style="border:white;" placeholder="Fecha del documento">
                    <form>
                        <input class="form-control" type="datetime-local" placeholder="Selecione la fecha">
                    </form>

                </td>

            </tr>
            <tr>
                <td colspan="1">Nombre:</td>
                <td colspan="2"><input type="text" style="border:white;"></td>
                <td colspan="1">5</td>
                <td colspan="1">4</td>
                <td colspan="1">3</td>
                <td colspan="1">2</td>
                <td colspan="1">1</td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="1">Area de Evaluación:</td>
                <td colspan="1">Chofer</td>
                <td colspan="1">Puntos a otorgar</td>
                <td colspan="1">Excelente</td>
                <td colspan="1">Muy bueno</td>
                <td colspan="1">Bueno</td>
                <td colspan="1">Regular</td>
                <td colspan="1">Malo</td>
                <td colspan="1">Total</td>
            </tr>
            <tr>
                <td rowspan="5" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">Administrativo</td>
                <td colspan="1">Cumple con la normativa interna </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CNI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" placeholder="Total" id="CNITOTAL"
                           style="border:white; text-align: center;">
                </td>
            </tr>
            <tr>
                <td colspan="1">Cumple con el horario establecido</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CCHE1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCHE2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCHE3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCHE4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCHE5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="CCHETOTAL" placeholder="Total"
                           style="border:white; text-align: center;">
                </td>

            </tr>

            <tr>
                <td colspan="1">Mantiene la limpieza y buen estado del vehículo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MLYBV1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="MLYBV2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="MLYBV3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="MLYBV4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="MLYBV5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="MLYBVTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Brinda mantenimiento preventivo a las unidades de transporte</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="BMPUT1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="BMPUT2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="BMPUT3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="BMPUT4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="BMPUT5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="BMPUTTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>
            <tr>
                <td colspan="1">Reporta los defectos que sufre el equipo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="RDSE1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDSE2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDSE3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDSE4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDSE5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="RDSETOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="font-size: large; color: white; background-color: lightblue;">Operacional</td>
                <td colspan="1"> Colabora en la carga y descarga de materiales</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CCDM1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCDM2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCDM3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCDM4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CCDM5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="CCDMTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>
            <tr>
                <td colspan="1">Participa en las capacitaciones</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PEC1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PEC2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PEC3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PEC4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PEC5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="PECTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: yellow;">Profesionalismo</td>
                <td colspan="1"> Disponibilidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="DISP1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="DISPTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Puntualidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PNTL1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="PNTLTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Fortalece los valores de la institución</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="FVI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="FVITOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Cumple con los protocolos institucionales</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CPI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="CPITOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td rowspan="2" style="font-size: large; color: white; background-color: salmon;">Liderazgo</td>
                <td colspan="1"> Trabajo colaborativo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="TC1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="TCTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Participa en otras actividades ajenas a su puesto</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PAAP1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="PAAPTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td rowspan="1" style="font-size: large; color: white; background-color: grey;">Ejecución</td>
                <td colspan="1"> Ejecuta otras tareas propias de cargo </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="EOTPC1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="EOTPCTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="3"> Total </td>
                <td colspan="1">
                    <input type="text" id="TotalGenChofer" style="border:white; text-align: center;"
                           placeholder="Total General">
                </td>
            </tr>


        </table>
        <br>


    </form>
</div>
<div>



</div>


<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
</script>

<script>


    config = {
        dateFormat: "d-m-y",
    }

    flatpickr("input[type=datetime-local]", config);



    async function generatePDF() {


        //Downloading
        var downloading = document.getElementById("whatToPrint");
        var doc = new jsPDF('p', 'pt');

        await html2canvas(downloading, {
            allowTaint: true,
            useCORS: true,
            width: 2350
        }).then((canvas) => {
            //Canvas (convert to PNG)
            doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 15, 1320, 800);
        })

        doc.save("Chofer.pdf");

        //End of downloading



    }


</script>

