
@{
    ViewBag.Title = "EvaluacionCocina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">





    <script>



        function Calcular() {
            //Actualiza lista de compras
            var ALCTOTAL;
            var cont1 = 0;
            var ALC1 = document.getElementById("ALC1");
            if (ALC1.checked == true) {
                cont1 = 5;
            }
            var ALC2 = document.getElementById("ALC2");
            if (ALC2.checked == true) {
                cont1 = 4;
            }
            var ALC3 = document.getElementById("ALC3");
            if (ALC3.checked == true) {
                cont1 = 3;
            }
            var ALC4 = document.getElementById("ALC4");
            if (ALC4.checked == true) {
                cont1 = 2;
            }
            var ALC5 = document.getElementById("ALC5");
            if (ALC5.checked == true) {
                cont1 = 1;
            }
            var ALCTOTAL = cont1;
            document.getElementById('ALCTOTAL').value = ALCTOTAL;




            //Mantiene Inventario actualizado
            var MIATOTAL;
            var cont2 = 0;
            var MIA1 = document.getElementById("MIA1");
            if (MIA1.checked == true) {
                cont2 = 5;
            }
            var MIA2 = document.getElementById("MIA2");
            if (MIA2.checked == true) {
                cont2 = 4;
            }
            var MIA3 = document.getElementById("MIA3");
            if (MIA3.checked == true) {
                cont2 = 3;
            }
            var MIA4 = document.getElementById("MIA4");
            if (MIA4.checked == true) {
                cont2 = 2;
            }
            var MIA5 = document.getElementById("MIA5");
            if (MIA5.checked == true) {
                cont2 = 1;
            }
            var MIATOTAL = cont2;
            document.getElementById('MIATOTAL').value = MIATOTAL;



            //Doc al dia
            var DADTOTAL;
            var cont3 = 0;
            var DAD1 = document.getElementById("DAD1");
            if (DAD1.checked == true) {
                cont3 = 5;
            }
            var DAD2 = document.getElementById("DAD2");
            if (DAD2.checked == true) {
                cont3 = 4;
            }
            var DAD3 = document.getElementById("DAD3");
            if (DAD3.checked == true) {
                cont3 = 3;
            }
            var DAD4 = document.getElementById("DAD4");
            if (DAD4.checked == true) {
                cont3 = 2;
            }
            var DAD5 = document.getElementById("DAD5");
            if (ALC5.checked == true) {
                cont3 = 1;
            }
            var DADTOTAL = cont3;
            document.getElementById('DADTOTAL').value = DADTOTAL;



            //Respeta horarios programados
            var RHPTOTAL;
            var cont4 = 0;
            var RHP1 = document.getElementById("RHP1");
            if (RHP1.checked == true) {
                cont4 = 5;
            }
            var RHP2 = document.getElementById("RHP2");
            if (RHP2.checked == true) {
                cont4 = 4;
            }
            var RHP3 = document.getElementById("RHP3");
            if (RHP3.checked == true) {
                cont4 = 3;
            }
            var RHP4 = document.getElementById("RHP4");
            if (RHP4.checked == true) {
                cont4 = 2;
            }
            var RHP5 = document.getElementById("RHP5");
            if (RHP5.checked == true) {
                cont4 = 1;
            }
            var RHPTOTAL = cont4;
            document.getElementById('RHPTOTAL').value = RHPTOTAL;


            //PILA, PLATOS Y UTENCILIOS LIMPIOS
            var PPULTOTAL;
            var cont5 = 0;
            var PPUL1 = document.getElementById("PPUL1");
            if (PPUL1.checked == true) {
                cont5 = 5;
            }
            var PPUL2 = document.getElementById("PPUL2");
            if (PPUL2.checked == true) {
                cont5 = 4;
            }
            var PPUL3 = document.getElementById("PPUL3");
            if (PPUL3.checked == true) {
                cont5 = 3;
            }
            var PPUL4 = document.getElementById("PPUL4");
            if (PPUL4.checked == true) {
                cont5 = 2;
            }
            var PPUL5 = document.getElementById("PPUL5");
            if (PPUL5.checked == true) {
                cont5 = 1;
            }
            var PPULTOTAL = cont5;
            document.getElementById('PPULTOTAL').value = PPULTOTAL;



            //Mesas limpias
            var MLTOTAL;
            var cont6 = 0;
            var ML1 = document.getElementById("ML1");
            if (ML1.checked == true) {
                cont6 = 5;
            }
            var ML2 = document.getElementById("ML2");
            if (ML2.checked == true) {
                cont6 = 4;
            }
            var ML3 = document.getElementById("ML3");
            if (ML3.checked == true) {
                cont6 = 3;
            }
            var ML4 = document.getElementById("ML4");
            if (ML4.checked == true) {
                cont6 = 2;
            }
            var ML5 = document.getElementById("ML5");
            if (ML5.checked == true) {
                cont6 = 1;
            }
            var MLTOTAL = cont6;
            document.getElementById('MLTOTAL').value = MLTOTAL;


            //Menus actualizados
            var MATOTAL;
            var cont7 = 0;
            var MA1 = document.getElementById("MA1");
            if (MA1.checked == true) {
                cont7 = 5;
            }
            var MA2 = document.getElementById("MA2");
            if (MA2.checked == true) {
                cont7 = 4;
            }
            var MA3 = document.getElementById("MA3");
            if (MA3.checked == true) {
                cont7 = 3;
            }
            var MA4 = document.getElementById("MA4");
            if (MA4.checked == true) {
                cont7 = 2;
            }
            var MA5 = document.getElementById("MA5");
            if (MA5.checked == true) {
                cont7 = 1;
            }
            var MATOTAL = cont7;
            document.getElementById('MATOTAL').value = MATOTAL;

            //Limpieza General
            var LGTOTAL;
            var cont8 = 0;
            var LG1 = document.getElementById("LG1");
            if (LG1.checked == true) {
                cont8 = 5;
            }
            var LG2 = document.getElementById("LG2");
            if (LG2.checked == true) {
                cont8 = 4;
            }
            var LG3 = document.getElementById("LG3");
            if (LG3.checked == true) {
                cont8 = 3;
            }
            var LG4 = document.getElementById("LG4");
            if (LG4.checked == true) {
                cont8 = 2;
            }
            var LG5 = document.getElementById("LG5");
            if (LG5.checked == true) {
                cont8 = 1;
            }
            var LGTOTAL = cont8;
            document.getElementById('LGTOTAL').value = LGTOTAL;


            //PUNTUALIDAD
            var PTLTOTAL;
            var cont9 = 0;
            var PTL1 = document.getElementById("PTL1");
            if (PTL1.checked == true) {
                cont9 = 5;
            }
            var PTL2 = document.getElementById("PTL2");
            if (PTL2.checked == true) {
                cont9 = 4;
            }
            var PTL3 = document.getElementById("PTL3");
            if (PTL3.checked == true) {
                cont9 = 3;
            }
            var PTL4 = document.getElementById("PTL4");
            if (PTL4.checked == true) {
                cont9 = 2;
            }
            var PTL5 = document.getElementById("PTL5");
            if (PTL5.checked == true) {
                cont9 = 1;
            }
            var PTLTOTAL = cont9;
            document.getElementById('PTLTOTAL').value = PTLTOTAL;


            //DEMUESTRA RESPETO
            var DRTOTAL;
            var cont10 = 0;
            var DR1 = document.getElementById("DR1");
            if (DR1.checked == true) {
                cont10 = 5;
            }
            var DR2 = document.getElementById("DR2");
            if (DR2.checked == true) {
                cont10 = 4;
            }
            var DR3 = document.getElementById("DR3");
            if (DR3.checked == true) {
                cont10 = 3;
            }
            var DR4 = document.getElementById("DR4");
            if (DR4.checked == true) {
                cont10 = 2;
            }
            var DR5 = document.getElementById("DR5");
            if (DR5.checked == true) {
                cont10 = 1;
            }
            var DRTOTAL = cont10;
            document.getElementById('DRTOTAL').value = DRTOTAL;


            //ACEPTA RETROALIMENTACION
            var ARTOTAL;
            var cont11 = 0;
            var AR1 = document.getElementById("AR1");
            if (AR1.checked == true) {
                cont11 = 5;
            }
            var AR2 = document.getElementById("AR2");
            if (AR2.checked == true) {
                cont11 = 4;
            }
            var AR3 = document.getElementById("AR3");
            if (AR3.checked == true) {
                cont11 = 3;
            }
            var AR4 = document.getElementById("AR4");
            if (AR4.checked == true) {
                cont11 = 2;
            }
            var AR5 = document.getElementById("AR5");
            if (AR5.checked == true) {
                cont11 = 1;
            }
            var ARTOTAL = cont11;
            document.getElementById('ARTOTAL').value = ARTOTAL;


            //DISPONIBILIDAD
            var DISPTOTAL;
            var cont12 = 0;
            var DISP1 = document.getElementById("DISP1");
            if (DISP1.checked == true) {
                cont12 = 5;
            }
            var DISP2 = document.getElementById("DISP2");
            if (DISP2.checked == true) {
                cont12 = 4;
            }
            var DISP3 = document.getElementById("DISP3");
            if (DISP3.checked == true) {
                cont12 = 3;
            }
            var DISP4 = document.getElementById("DISP4");
            if (DISP4.checked == true) {
                cont12 = 2;
            }
            var DISP5 = document.getElementById("DISP5");
            if (DISP5.checked == true) {
                cont12 = 1;
            }
            var DISPTOTAL = cont12;
            document.getElementById('DISPTOTAL').value = DISPTOTAL;


            //COLABORA EN OTRAS AREAS
            var COATOTAL;
            var cont13 = 0;
            var COA1 = document.getElementById("COA1");
            if (COA1.checked == true) {
                cont13 = 5;
            }
            var COA2 = document.getElementById("COA2");
            if (COA2.checked == true) {
                cont13 = 4;
            }
            var COA3 = document.getElementById("COA3");
            if (COA3.checked == true) {
                cont13 = 3;
            }
            var COA4 = document.getElementById("COA4");
            if (COA4.checked == true) {
                cont13 = 2;
            }
            var COA5 = document.getElementById("COA5");
            if (COA5.checked == true) {
                cont13 = 1;
            }
            var COATOTAL = cont13;
            document.getElementById('COATOTAL').value = COATOTAL;



            //PARTICIPA ACTIVIDADES EC
            var PAECTOTAL;
            var cont14 = 0;
            var PAEC1 = document.getElementById("PAEC1");
            if (PAEC1.checked == true) {
                cont14 = 5;
            }
            var PAEC2 = document.getElementById("PAEC2");
            if (PAEC2.checked == true) {
                cont14 = 4;
            }
            var PAEC3 = document.getElementById("PAEC3");
            if (PAEC3.checked == true) {
                cont14 = 3;
            }
            var PAEC4 = document.getElementById("PAEC4");
            if (PAEC4.checked == true) {
                cont14 = 2;
            }
            var PAEC5 = document.getElementById("PAEC5");
            if (PAEC5.checked == true) {
                cont14 = 1;
            }
            var PAECTOTAL = cont14;
            document.getElementById('PAECTOTAL').value = PAECTOTAL;


            //TOMA DECISIONES

            var TDTOTAL;
            var cont15 = 0;
            var TD1 = document.getElementById("TD1");
            if (TD1.checked == true) {
                cont15 = 5;
            }
            var TD2 = document.getElementById("TD2");
            if (TD2.checked == true) {
                cont15 = 4;
            }
            var TD3 = document.getElementById("TD3");
            if (TD3.checked == true) {
                cont15 = 3;
            }
            var TD4 = document.getElementById("TD4");
            if (TD4.checked == true) {
                cont15 = 2;
            }
            var TD5 = document.getElementById("TD5");
            if (TD5.checked == true) {
                cont15 = 1;
            }
            var TDTOTAL = cont15;
            document.getElementById('TDTOTAL').value = TDTOTAL;


            //MOTIVA EQUIPO DE TRABAJO
            var METTOTAL;
            var cont16 = 0;
            var MET1 = document.getElementById("MET1");
            if (MET1.checked == true) {
                cont16 = 5;
            }
            var MET2 = document.getElementById("MET2");
            if (MET2.checked == true) {
                cont16 = 4;
            }
            var MET3 = document.getElementById("MET3");
            if (MET3.checked == true) {
                cont16 = 3;
            }
            var MET4 = document.getElementById("MET4");
            if (MET4.checked == true) {
                cont16 = 2;
            }
            var MET5 = document.getElementById("MET5");
            if (MET5.checked == true) {
                cont16 = 1;
            }
            var METTOTAL = cont16;
            document.getElementById('METTOTAL').value = METTOTAL;


            //MANIPULACION ADECUADA ALIMENTOS
            var MAATOTAL;
            var cont17 = 0;
            var MAA1 = document.getElementById("MAA1");
            if (MAA1.checked == true) {
                cont17 = 5;
            }
            var MAA2 = document.getElementById("MAA2");
            if (MAA2.checked == true) {
                cont17 = 4;
            }
            var MAA3 = document.getElementById("MAA3");
            if (MAA3.checked == true) {
                cont17 = 3;
            }
            var MAA4 = document.getElementById("MAA4");
            if (MAA4.checked == true) {
                cont17 = 2;
            }
            var MAA5 = document.getElementById("MAA5");
            if (MAA5.checked == true) {
                cont17 = 1;
            }
            var MAATOTAL = cont17;
            document.getElementById('MAATOTAL').value = MAATOTAL;


            //MANTIENE AMBIENTE IDONEO
            var MAITOTAL;
            var cont18 = 0;
            var MAI1 = document.getElementById("MAI1");
            if (MAI1.checked == true) {
                cont18 = 5;
            }
            var MAI2 = document.getElementById("MAI2");
            if (MAI2.checked == true) {
                cont18 = 4;
            }
            var MAI3 = document.getElementById("MAI3");
            if (MAI3.checked == true) {
                cont18 = 3;
            }
            var MAI4 = document.getElementById("MAI4");
            if (MAI4.checked == true) {
                cont18 = 2;
            }
            var MAI5 = document.getElementById("MAI5");
            if (MAI5.checked == true) {
                cont18 = 1;
            }
            var MAITOTAL = cont18;
            document.getElementById('MAITOTAL').value = MAITOTAL;

            //CUMPLE NORMAS DEL CENTRO
            var CNCTOTAL;
            var cont19 = 0;
            var CNC1 = document.getElementById("CNC1");
            if (CNC1.checked == true) {
                cont19 = 5;
            }
            var CNC2 = document.getElementById("CNC2");
            if (CNC2.checked == true) {
                cont19 = 4;
            }
            var CNC3 = document.getElementById("CNC3");
            if (CNC3.checked == true) {
                cont19 = 3;
            }
            var CNC4 = document.getElementById("CNC4");
            if (CNC4.checked == true) {
                cont19 = 2;
            }
            var CNC5 = document.getElementById("CNC5");
            if (CNC5.checked == true) {
                cont19 = 1;
            }
            var CNCTOTAL = cont19;
            document.getElementById('CNCTOTAL').value = CNCTOTAL;

            //MANTIENE LEALTAD Y CONFIDENCIALIDAD
            var MLCTOTAL;
            var cont20 = 0;
            var MLC1 = document.getElementById("MLC1");
            if (MLC1.checked == true) {
                cont20 = 5;
            }
            var MLC2 = document.getElementById("MLC2");
            if (MLC2.checked == true) {
                cont20 = 4;
            }
            var MLC3 = document.getElementById("MLC3");
            if (MLC3.checked == true) {
                cont20 = 3;
            }
            var MLC4 = document.getElementById("MLC4");
            if (MLC4.checked == true) {
                cont20 = 2;
            }
            var MLC5 = document.getElementById("MLC5");
            if (MLC5.checked == true) {
                cont20 = 1;
            }
            var MLCTOTAL = cont20;
            document.getElementById('MLCTOTAL').value = MLCTOTAL;


            //total de calificaciones
            var PAECTOTAL = Number(document.getElementById('PAECTOTAL').value);
            var CNCTOTAL = Number(document.getElementById('CNCTOTAL').value);
            var MAITOTAL = Number(document.getElementById('MAITOTAL').value);
            var METTOTAL = Number(document.getElementById('METTOTAL').value);
            var TDTOTAL = Number(document.getElementById('TDTOTAL').value);
            var MLCTOTAL = Number(document.getElementById('MLCTOTAL').value);
            var COATOTAL = Number(document.getElementById('COATOTAL').value);
            var DISPTOTAL = Number(document.getElementById('DISPTOTAL').value);
            var ARTOTAL = Number(document.getElementById('ARTOTAL').value);
            var DRTOTAL = Number(document.getElementById('DRTOTAL').value);
            var PTLTOTAL = Number(document.getElementById('PTLTOTAL').value);
            var LGTOTAL = Number(document.getElementById('LGTOTAL').value);
            var MAATOTAL = Number(document.getElementById('MAATOTAL').value);
            var MATOTAL = Number(document.getElementById('MATOTAL').value);
            var MLTOTAL = Number(document.getElementById('MLTOTAL').value);
            var PPULTOTAL = Number(document.getElementById('PPULTOTAL').value);
            var RHPTOTAL = Number(document.getElementById('RHPTOTAL').value);
            var DADTOTAL = Number(document.getElementById('DADTOTAL').value);
            var MIATOTAL = Number(document.getElementById('MIATOTAL').value);
            var ALCTOTAL = Number(document.getElementById('ALCTOTAL').value);

            var TotalGen = MLCTOTAL + CNCTOTAL + MAITOTAL + MAATOTAL + METTOTAL + TDTOTAL + PAECTOTAL +
                COATOTAL + DISPTOTAL + ARTOTAL + DRTOTAL + PTLTOTAL + LGTOTAL + MLTOTAL + PPULTOTAL + RHPTOTAL +
                DADTOTAL + MIATOTAL + ALCTOTAL + MATOTAL;
            document.getElementById('TotalGen').value = TotalGen;





        }

    </script>


    <link rel="stylesheet" href="evalChofer.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Evaluaciones</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<br />
<br />
<br />

<div class="col-md-6 col-md-offset-1">

    <a href="javascript:generatePDF()" id="downloadButton">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-danger" name="Descargar PDF"
               value="PDF">
    </a>

    <input type="button" style="float: right; margin-right: 90px;" class="btn btn-success" name="suma"
           value="Calcular" onclick="Calcular()"><a href="javascript:location.reload()">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-primary" name="Nuevo"
               value="Nuevo">

    </a>


</div>
<br />
<br />
<br />

<div id="whatToPrint" style="font-size: large; text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black; width: 500px;">
    <form>
        <table class="table table-bordered">
            <tr>
                <td colspan="2"> <img src="~/images/Imagen1.png" width="100" height="100"></td>
                <td colspan="5" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">
                    Evaluación del Desemepeno Luz Divina
                </td>
                <td colspan="2">
                    <input type="text" style="border:white;" placeholder="Fecha del documento">
                    <form>
                        <input class="form-control" type="datetime-local" placeholder="Selecione la fecha">
                    </form>

                </td>


            </tr>
            <tr>
                <td colspan="1">Nombre:</td>
                <td colspan="2"><input type="text" style="border:white;"></td>
                <td colspan="1">5</td>
                <td colspan="1">4</td>
                <td colspan="1">3</td>
                <td colspan="1">2</td>
                <td colspan="1">1</td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="1">Area de Evaluación:</td>
                <td colspan="1">Cocina</td>
                <td colspan="1">Puntos a otorgar</td>
                <td colspan="1">Excelente</td>
                <td colspan="1">Muy bueno</td>
                <td colspan="1">Bueno</td>
                <td colspan="1">Regular</td>
                <td colspan="1">Malo</td>
                <td colspan="1">Total</td>
            </tr>
            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">Administrativo</td>
                <td colspan="1">Actualiza la lista de compras </td>
                <td colspan="1"> 5</td>

                <td colspan="1"><input type="checkbox" id="ALC1"></td>
                <td colspan="1"><input type="checkbox" id="ALC2"></td>
                <td colspan="1"><input type="checkbox" id="ALC3"></td>
                <td colspan="1"><input type="checkbox" id="ALC4"></td>
                <td colspan="1"><input type="checkbox" id="ALC5"></td>
                <td colspan="1"><input type="text" placeholder="Total" id="ALCTOTAL" style="border:white; text-align: center;"></td>
            </tr>

            <tr>
                <td colspan="1">Mantiene el inventario actualizado</td>
                <td colspan="1"> 5</td>

                <td colspan="1"><input type="checkbox" id="MIA1"></td>
                <td colspan="1"><input type="checkbox" id="MIA2"></td>
                <td colspan="1"><input type="checkbox" id="MIA3"></td>
                <td colspan="1"><input type="checkbox" id="MIA4"></td>
                <td colspan="1"><input type="checkbox" id="MIA5"></td>
                <td colspan="1"><input type="text" id="MIATOTAL" placeholder="Total" style="border:white; text-align: center;"></td>

            </tr>

            <tr>
                <td colspan="1">Documentación al día</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="DAD1"></td>
                <td colspan="1"><input type="checkbox" id="DAD2"></td>
                <td colspan="1"><input type="checkbox" id="DAD3"></td>
                <td colspan="1"><input type="checkbox" id="DAD4"></td>
                <td colspan="1"><input type="checkbox" id="DAD5"></td>
                <td colspan="1"><input type="text" id="DADTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Respeta los horarios programados</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="RHP1"></td>
                <td colspan="1"><input type="checkbox" id="RHP2"></td>
                <td colspan="1"><input type="checkbox" id="RHP3"></td>
                <td colspan="1"><input type="checkbox" id="RHP4"></td>
                <td colspan="1"><input type="checkbox" id="RHP5"></td>
                <td colspan="1"><input type="text" id="RHPTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: yellow;">Operacional</td>
                <td colspan="1"> Pila, platos y utencilios limpios</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PPUL1"></td>
                <td colspan="1"><input type="checkbox" id="PPUL2"></td>
                <td colspan="1"><input type="checkbox" id="PPUL3"></td>
                <td colspan="1"><input type="checkbox" id="PPUL4"></td>
                <td colspan="1"><input type="checkbox" id="PPUL5"></td>
                <td colspan="1"><input type="text" id="PPULTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>



            <tr>
                <td colspan="1">Mesas limpias</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="ML1"></td>
                <td colspan="1"><input type="checkbox" id="ML2"></td>
                <td colspan="1"><input type="checkbox" id="ML3"></td>
                <td colspan="1"><input type="checkbox" id="ML4"></td>
                <td colspan="1"><input type="checkbox" id="ML5"></td>
                <td colspan="1"><input type="text" id="MLTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>


            <tr>
                <td colspan="1">Menus actualizados</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MA1"></td>
                <td colspan="1"><input type="checkbox" id="MA2"></td>
                <td colspan="1"><input type="checkbox" id="MA3"></td>
                <td colspan="1"><input type="checkbox" id="MA4"></td>
                <td colspan="1"><input type="checkbox" id="MA5"></td>
                <td colspan="1"><input type="text" id="MATOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td colspan="1">Limpieza general</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="LG1"></td>
                <td colspan="1"><input type="checkbox" id="LG2"></td>
                <td colspan="1"><input type="checkbox" id="LG3"></td>
                <td colspan="1"><input type="checkbox" id="LG4"></td>
                <td colspan="1"><input type="checkbox" id="LG5"></td>
                <td colspan="1"><input type="text" id="LGTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: lightblue;">Profesionalismo</td>
                <td colspan="1"> Puntualidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PTL1"></td>
                <td colspan="1"><input type="checkbox" id="PTL2"></td>
                <td colspan="1"><input type="checkbox" id="PTL3"></td>
                <td colspan="1"><input type="checkbox" id="PTL4"></td>
                <td colspan="1"><input type="checkbox" id="PTL5"></td>
                <td colspan="1"><input type="text" id="PTLTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Demuestra respeto</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="DR1"></td>
                <td colspan="1"><input type="checkbox" id="DR2"></td>
                <td colspan="1"><input type="checkbox" id="DR3"></td>
                <td colspan="1"><input type="checkbox" id="DR4"></td>
                <td colspan="1"><input type="checkbox" id="DR5"></td>
                <td colspan="1"><input type="text" id="DRTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Acepta retroalimentación</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="AR1"></td>
                <td colspan="1"><input type="checkbox" id="AR2"></td>
                <td colspan="1"><input type="checkbox" id="AR3"></td>
                <td colspan="1"><input type="checkbox" id="AR4"></td>
                <td colspan="1"><input type="checkbox" id="AR5"></td>
                <td colspan="1"><input type="text" id="ARTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>


            <tr>
                <td colspan="1">Disponibilidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="DISP1"></td>
                <td colspan="1"><input type="checkbox" id="DISP2"></td>
                <td colspan="1"><input type="checkbox" id="DISP3"></td>
                <td colspan="1"><input type="checkbox" id="DISP4"></td>
                <td colspan="1"><input type="checkbox" id="DISP5"></td>
                <td colspan="1"><input type="text" id="DISPTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: lightgray;">Liderazgo</td>
                <td colspan="1"> Colabora en otras áreas</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="COA1"></td>
                <td colspan="1"><input type="checkbox" id="COA2"></td>
                <td colspan="1"><input type="checkbox" id="COA3"></td>
                <td colspan="1"><input type="checkbox" id="COA4"></td>
                <td colspan="1"><input type="checkbox" id="COA5"></td>
                <td colspan="1"><input type="text" id="COATOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Participa en actividades EC</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PAEC1"></td>
                <td colspan="1"><input type="checkbox" id="PAEC2"></td>
                <td colspan="1"><input type="checkbox" id="PAEC3"></td>
                <td colspan="1"><input type="checkbox" id="PAEC4"></td>
                <td colspan="1"><input type="checkbox" id="PAEC5"></td>
                <td colspan="1"><input type="text" id="PAECTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Toma de decisiones</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="TD1"></td>
                <td colspan="1"><input type="checkbox" id="TD2"></td>
                <td colspan="1"><input type="checkbox" id="TD3"></td>
                <td colspan="1"><input type="checkbox" id="TD4"></td>
                <td colspan="1"><input type="checkbox" id="TD5"></td>
                <td colspan="1"><input type="text" id="TDTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Motiva a su equipo de trabajo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MET1"></td>
                <td colspan="1"><input type="checkbox" id="MET2"></td>
                <td colspan="1"><input type="checkbox" id="MET3"></td>
                <td colspan="1"><input type="checkbox" id="MET4"></td>
                <td colspan="1"><input type="checkbox" id="MET5"></td>
                <td colspan="1"><input type="text" id="METTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: grey;">Ejecución</td>
                <td colspan="1"> Manipulación de alimentos adecuada</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MAA1"></td>
                <td colspan="1"><input type="checkbox" id="MAA2"></td>
                <td colspan="1"><input type="checkbox" id="MAA3"></td>
                <td colspan="1"><input type="checkbox" id="MAA4"></td>
                <td colspan="1"><input type="checkbox" id="MAA5"></td>
                <td colspan="1"><input type="text" id="MAATOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Mantiene un ambiente idoneo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MAI1"></td>
                <td colspan="1"><input type="checkbox" id="MAI2"></td>
                <td colspan="1"><input type="checkbox" id="MAI3"></td>
                <td colspan="1"><input type="checkbox" id="MAI4"></td>
                <td colspan="1"><input type="checkbox" id="MAI5"></td>
                <td colspan="1"><input type="text" id="MAITOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Cumple con las normas del centro</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CNC1"></td>
                <td colspan="1"><input type="checkbox" id="CNC2"></td>
                <td colspan="1"><input type="checkbox" id="CNC3"></td>
                <td colspan="1"><input type="checkbox" id="CNC4"></td>
                <td colspan="1"><input type="checkbox" id="CNC5"></td>
                <td colspan="1"><input type="text" id="CNCTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Mantiene lealtad y confidencialidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MLC1"></td>
                <td colspan="1"><input type="checkbox" id="MLC2"></td>
                <td colspan="1"><input type="checkbox" id="MLC3"></td>
                <td colspan="1"><input type="checkbox" id="MLC4"></td>
                <td colspan="1"><input type="checkbox" id="MLC5"></td>
                <td colspan="1"><input type="text" id="MLCTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="5"></td>
                <td colspan="2"> Total </td>
                <td colspan="2"><input type="text" id="TotalGen" style="border:white; text-align: center;" placeholder="Total General"></td>

            </tr>


        </table>
        <br>


    </form>
</div>
<div>



</div>


<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

<script>


    config = {
        dateFormat: "d-m-y",
    }

    flatpickr("input[type=datetime-local]", config);



    async function generatePDF() {


        //Downloading
        var downloading = document.getElementById("whatToPrint");
        var doc = new jsPDF('p', 'pt');

        await html2canvas(downloading, {
            allowTaint: true,
            useCORS: true,
            width: 2350
        }).then((canvas) => {
            //Canvas (convert to PNG)
            doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 15, 1320, 800);
        })

        doc.save("Cocina.pdf");

        //End of downloading



    }


</script>

