
@{
    ViewBag.Title = "EvaluacionMiselanea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
        function Calcular() {
            //Cumple con la normativa interna
            var CNITOTAL;
            var cont1 = 0;

            var CNI1 = document.getElementById("CNI1");
            if (CNI1.checked == true) {
                cont1 = 5;
            }
            var CNI2 = document.getElementById("CNI2");
            if (CNI2.checked == true) {
                cont1 = 4;
            }
            var CNI3 = document.getElementById("CNI3");
            if (CNI3.checked == true) {
                cont1 = 3;
            }
            var CNI4 = document.getElementById("CNI4");
            if (CNI4.checked == true) {
                cont1 = 2;
            }
            var CNI5 = document.getElementById("CNI5");
            if (CNI5.checked == true) {
                cont1 = 1;
            }
            var CNITOTAL = cont1;
            document.getElementById('CNITOTAL').value = CNITOTAL;

            //Reporta a dirección las averías que encuentra dentro de la institución

            var RDAEDITOTAL;
            var cont2 = 0;
            var RDAEDI1 = document.getElementById("RDAEDI1");
            if (RDAEDI1.checked == true) {
                cont2 = 5;
            }
            var RDAEDI2 = document.getElementById("RDAEDI2");
            if (RDAEDI2.checked == true) {
                cont2 = 4;
            }
            var RDAEDI3 = document.getElementById("RDAEDI3");
            if (RDAEDI3.checked == true) {
                cont2 = 3;
            }
            var RDAEDI4 = document.getElementById("RDAEDI4");
            if (RDAEDI4.checked == true) {
                cont2 = 2;
            }
            var RDAEDI5 = document.getElementById("RDAEDI5");
            if (RDAEDI5.checked == true) {
                cont2 = 1;
            }
            var RDAEDITOTAL = cont2;
            document.getElementById('RDAEDITOTAL').value = RDAEDITOTAL;

            //Participa en las capacitaciones

            var PELCTOTAL;
            var cont3 = 0;
            var PELC1 = document.getElementById("PELC1");
            if (PELC1.checked == true) {
                cont3 = 5;
            }

            var PELC2 = document.getElementById("PELC2");
            if (PELC2.checked == true) {
                cont3 = 4;
            }

            var PELC3 = document.getElementById("PELC3");
            if (PELC3.checked == true) {
                cont3 = 3;
            }

            var PELC4 = document.getElementById("PELC4");
            if (PELC4.checked == true) {
                cont3 = 2;
            }

            var PELC5 = document.getElementById("PELC5");
            if (PELC5.checked == true) {
                cont3 = 1;
            }
            var PELCTOTAL = cont3;
            document.getElementById('PELCTOTAL').value = PELCTOTAL;

            //RECOGE Y TRANSPORTA LOS DESECHOS

            var RYTDTOTAL;
            var cont4 = 0;
            var RYTD1 = document.getElementById("RYTD1");
            if (RYTD1.checked == true) {
                cont4 = 5;
            }

            var RYTD2 = document.getElementById("RYTD2");
            if (RYTD2.checked == true) {
                cont4 = 4;
            }

            var RYTD3 = document.getElementById("RYTD3");
            if (RYTD3.checked == true) {
                cont4 = 3;
            }

            var RYTD4 = document.getElementById("RYTD4");
            if (RYTD4.checked == true) {
                cont4 = 2;
            }

            var RYTD5 = document.getElementById("RYTD5");
            if (RYTD5.checked == true) {
                cont4 = 1;
            }
            var RYTDTOTAL = cont4;
            document.getElementById('RYTDTOTAL').value = RYTDTOTAL;

            //CUMPLE CON LOS PROTOCOLOS DE LIMPIEZA Y DESECHOS
            var CPLDTOTAL;
            var cont5 = 0;

            var CPLD1 = document.getElementById("CPLD1");
            if (CPLD1.checked == true) {
                cont5 = 5;
            }

            var CPLD2 = document.getElementById("CPLD2");
            if (CPLD2.checked == true) {
                cont5 = 4;
            }

            var CPLD3 = document.getElementById("CPLD3");
            if (CPLD3.checked == true) {
                cont5 = 3;
            }

            var CPLD4 = document.getElementById("CPLD4");
            if (CPLD4.checked == true) {
                cont5 = 2;
            }

            var CPLD5 = document.getElementById("CPLD5");
            if (CPLD5.checked == true) {
                cont5 = 1;
            }
            var CPLDTOTAL = cont5;
            document.getElementById('CPLDTOTAL').value = CPLDTOTAL;

            //DISPONIBILIDAD
            var DISPTOTAL;
            var cont6 = 0;
            var DISP1 = document.getElementById("DISP1");
            if (DISP1.checked == true) {
                cont6 = 5;
            }
            var DISP2 = document.getElementById("DISP2");
            if (DISP2.checked == true) {
                cont6 = 4;
            }
            var DISP3 = document.getElementById("DISP3");
            if (DISP3.checked == true) {
                cont6 = 3;
            }
            var DISP4 = document.getElementById("DISP4");
            if (DISP4.checked == true) {
                cont6 = 2;
            }
            var DISP5 = document.getElementById("DISP5");
            if (DISP5.checked == true) {
                cont6 = 1;
            }
            var DISPTOTAL = cont6;
            document.getElementById('DISPTOTAL').value = DISPTOTAL;

            //PUNTUALIDAD
            var PNTLTOTAL;
            var cont7 = 0;
            var PNTL1 = document.getElementById("PNTL1");
            if (PNTL1.checked == true) {
                cont7 = 5;
            }
            var PNTL2 = document.getElementById("PNTL2");
            if (PNTL2.checked == true) {
                cont7 = 4;
            }
            var PNTL3 = document.getElementById("PNTL3");
            if (PNTL3.checked == true) {
                cont7 = 3;
            }
            var PNTL4 = document.getElementById("PNTL4");
            if (PNTL4.checked == true) {
                cont7 = 2;
            }
            var PNTL5 = document.getElementById("PNTL5");
            if (PNTL5.checked == true) {
                cont7 = 1;
            }
            var PNTLTOTAL = cont7;

            document.getElementById('PNTLTOTAL').value = PNTLTOTAL;

            //FORTALECE VALORES DE LA INSTITUCION

            var FVITOTAL;
            cont8 = 0;

            var FVI1 = document.getElementById("FVI1");
            if (FVI1.checked == true) {
                cont8 = 5;
            }

            var FVI2 = document.getElementById("FVI2");
            if (FVI2.checked == true) {
                cont8 = 4;
            }

            var FVI3 = document.getElementById("FVI3");
            if (FVI3.checked == true) {
                cont8 = 3;
            }

            var FVI4 = document.getElementById("FVI4");
            if (FVI4.checked == true) {
                cont8 = 2;
            }

            var FVI5 = document.getElementById("FVI5");
            if (FVI5.checked == true) {
                cont8 = 1;
            }
            var FVITOTAL = cont8;
            document.getElementById('FVITOTAL').value = FVITOTAL;

            //CUMPLE LOS PROTOCOLOS DE LA INSTITUCION
            var CPITOTAL;
            var cont9 = 0;

            var CPI1 = document.getElementById("CPI1");
            if (CPI1.checked == true) {
                cont9 = 5;
            }

            var CPI2 = document.getElementById("CPI2");
            if (CPI2.checked == true) {
                cont9 = 4;
            }

            var CPI3 = document.getElementById("CPI3");
            if (CPI3.checked == true) {
                cont9 = 3;
            }

            var CPI4 = document.getElementById("CPI4");
            if (CPI4.checked == true) {
                cont9 = 2;
            }

            var CPI5 = document.getElementById("CPI5");
            if (CPI5.checked == true) {
                cont9 = 1;
            }
            var CPITOTAL = cont9;
            document.getElementById('CPITOTAL').value = CPITOTAL;

            //TRABAJO COLABORATIVO
            var TCTOTAL;
            var cont10 = 0;

            var TC1 = document.getElementById("TC1");
            if (TC1.checked == true) {
                cont10 = 5;
            }

            var TC2 = document.getElementById("TC2");
            if (TC2.checked == true) {
                cont10 = 4;
            }

            var TC3 = document.getElementById("TC3");
            if (TC3.checked == true) {
                cont10 = 3;
            }

            var TC4 = document.getElementById("TC4");
            if (TC4.checked == true) {
                cont10 = 2;
            }

            var TC5 = document.getElementById("TC5");
            if (TC5.checked == true) {
                cont10 = 1;
            }

            var TCTOTAL = cont10;
            document.getElementById('TCTOTAL').value = TCTOTAL;

            //PARTICIPA EN OTRAS ACTIVIDADES AJENAS A SU PUESTO

            var PAAPTOTAL;
            var cont11 = 0;

            var PAAP1 = document.getElementById("PAAP1");
            if (PAAP1.checked == true) {
                cont11 = 5;
            }
            var PAAP2 = document.getElementById("PAAP2");
            if (PAAP2.checked == true) {
                cont11 = 4;
            }
            var PAAP3 = document.getElementById("PAAP3");
            if (PAAP3.checked == true) {
                cont11 = 3;
            }
            var PAAP4 = document.getElementById("PAAP4");
            if (PAAP4.checked == true) {
                cont11 = 2;
            }
            var PAAP5 = document.getElementById("PAAP5");
            if (PAAP5.checked == true) {
                cont11 = 1;
            }
            var PAAPTOTAL = cont11;
            document.getElementById('PAAPTOTAL').value = PAAPTOTAL;

            //EJECUTA OTRAS ACTIVIDADES PROPIAS DE CARGO

            var EOTPCTOTAL;
            var cont12 = 0;

            var EOTPC1 = document.getElementById("EOTPC1");
            if (EOTPC1.checked == true) {
                cont12 = 5;
            }
            var EOTPC2 = document.getElementById("EOTPC2");
            if (EOTPC2.checked == true) {
                cont12 = 4;
            }
            var EOTPC3 = document.getElementById("EOTPC3");
            if (EOTPC3.checked == true) {
                cont12 = 3;
            }
            var EOTPC4 = document.getElementById("EOTPC4");
            if (EOTPC4.checked == true) {
                cont12 = 2;
            }
            var EOTPC5 = document.getElementById("EOTPC5");
            if (EOTPC5.checked == true) {
                cont12 = 1;
            }

            var EOTPCTOTAL = cont12;
            document.getElementById('EOTPCTOTAL').value = EOTPCTOTAL;

            //total de calificaciones
            var CNITOTAL = Number(document.getElementById('CNITOTAL').value);
            var RDAEDITOTAL = Number(document.getElementById('RDAEDITOTAL').value);
            var PELCTOTAL = Number(document.getElementById('PELCTOTAL').value);
            var RYTDTOTAL = Number(document.getElementById('RYTDTOTAL').value);
            var CPLDTOTAL = Number(document.getElementById('CPLDTOTAL').value);
            var DISPTOTAL = Number(document.getElementById('DISPTOTAL').value);
            var PNTLTOTAL = Number(document.getElementById('PNTLTOTAL').value);
            var FVITOTAL = Number(document.getElementById('FVITOTAL').value);
            var CPITOTAL = Number(document.getElementById('CPITOTAL').value);
            var TCTOTAL = Number(document.getElementById('TCTOTAL').value);
            var PAAPTOTAL = Number(document.getElementById('PAAPTOTAL').value);
            var EOTPCTOTAL = Number(document.getElementById('EOTPCTOTAL').value);

            //TOTAL GENERAL
            var TotalGenMisc = CNITOTAL + RDAEDITOTAL + PELCTOTAL + RYTDTOTAL + CPLDTOTAL
                + DISPTOTAL + PNTLTOTAL + FVITOTAL + CPITOTAL + TCTOTAL +
                PAAPTOTAL + EOTPCTOTAL;

            TotalGenMisc = ((TotalGenMisc / 60) * 100).toFixed();
            document.getElementById('TotalGenMisc').value = TotalGenMisc;
        }
    </script>

    <link rel="stylesheet" href="tableAP.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Evaluaciones</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<br />
<br />
<br />

<div class="col-md-6 col-md-offset-1">

    <a href="javascript:generatePDF()" id="downloadButton">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-danger" name="Descargar PDF"
               value="PDF">
    </a>

    <input type="button" style="float: right; margin-right: 90px;" class="btn btn-success" name="suma"
           value="Calcular" onclick="Calcular()"><a href="javascript:location.reload()">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-primary" name="Nuevo"
               value="Nuevo">

    </a>


</div>
<br />
<br />
<br />

<div id="whatToPrint" style="font-size: large; text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black; width: 500px;">
    <form>
        <table class="table table-bordered">
            <tr>
                <td colspan="2"> <img src="~/images/Imagen1.png" width="100" height="100"></td>
                <td colspan="5" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">
                    Evaluación del Desemepeno Luz Divina
                </td>
                <td colspan="2">
                    <input type="text" style="border:white;" placeholder="Fecha del documento">
                    <form>
                        <input class="form-control" type="datetime-local" placeholder="Selecione la fecha">
                    </form>

                </td>

            </tr>
            <tr>
                <td colspan="1">Nombre:</td>
                <td colspan="2"><input type="text" style="border:white;"></td>
                <td colspan="1">5</td>
                <td colspan="1">4</td>
                <td colspan="1">3</td>
                <td colspan="1">2</td>
                <td colspan="1">1</td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="1">Area de Evaluación:</td>
                <td colspan="1">Miselanea</td>
                <td colspan="1">Puntos a otorgar</td>
                <td colspan="1">Excelente</td>
                <td colspan="1">Muy bueno</td>
                <td colspan="1">Bueno</td>
                <td colspan="1">Regular</td>
                <td colspan="1">Malo</td>
                <td colspan="1">Total</td>
            </tr>
            <tr>
                <td rowspan="2" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">Administrativo</td>
                <td colspan="1">Cumple con la normativa interna </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CNI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CNI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" placeholder="Total" id="CNITOTAL"
                           style="border:white; text-align: center;">
                </td>
            </tr>
            <tr>
                <td colspan="1">Reporta a dirección las averías que encuentra dentro de la institución</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="RDAEDI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDAEDI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDAEDI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDAEDI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RDAEDI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="RDAEDITOTAL" placeholder="Total"
                           style="border:white; text-align: center;">
                </td>
            </tr>

            <tr>
                <td rowspan="3" style="font-size: large; color: white; background-color: lightblue;">Operacional</td>
                <td colspan="1"> Participa en las capacitaciones</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PELC1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PELC2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PELC3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PELC4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PELC5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="PELCTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>
            <tr>
                <td colspan="1">Recoge y transporta los desechos</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="RYTD1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RYTD2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RYTD3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RYTD4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="RYTD5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="RYTDTOTAL" placeholder="Total"
                           style="border:white; text-align: center;">
                </td>
            </tr>
            <tr>
                <td colspan="1">Cumple con los protocolos de limpieza y desechos</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CPLD1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPLD2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPLD3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPLD4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPLD5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="CPLDTOTAL" placeholder="Total"
                           style="border:white; text-align: center;">
                </td>
            </tr>


            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: yellow;">Profesionalismo</td>
                <td colspan="1"> Disponibilidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="DISP1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="DISP5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="DISPTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Puntualidad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PNTL1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PNTL5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="PNTLTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Fortalece los valores de la institución</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="FVI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="FVI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="FVITOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Cumple con los protocolos institucionales</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CPI1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="CPI5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="CPITOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td rowspan="2" style="font-size: large; color: white; background-color: salmon;">Liderazgo</td>
                <td colspan="1"> Trabajo colaborativo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="TC1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="TC5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="TCTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td colspan="1">Participa en otras actividades ajenas a su puesto</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PAAP1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="PAAP5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="PAAPTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>

            <tr>
                <td rowspan="1" style="font-size: large; color: white; background-color: grey;">Ejecución</td>
                <td colspan="1"> Ejecuta otras tareas propias de cargo </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="EOTPC1" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC2" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC3" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC4" style="border:white;"></td>
                <td colspan="1"><input type="checkbox" id="EOTPC5" style="border:white;"></td>
                <td colspan="1">
                    <input type="text" id="EOTPCTOTAL" style="border:white; text-align: center;"
                           placeholder="Total">
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="3"> Total </td>
                <td colspan="1">
                    <input type="text" id="TotalGenMisc" style="border:white; text-align: center;"
                           placeholder="Total ">
                </td>
            </tr>


        </table>
        <br>


    </form>
</div>
<div>



</div>

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
</script>


<script>


    config = {
        dateFormat: "d-m-y",
    }

    flatpickr("input[type=datetime-local]", config);



    async function generatePDF() {


        //Downloading
        var downloading = document.getElementById("whatToPrint");
        var doc = new jsPDF('p', 'pt');

        await html2canvas(downloading, {
            allowTaint: true,
            useCORS: true,
            width: 2350
        }).then((canvas) => {
            //Canvas (convert to PNG)
            doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 15, 1320, 800);
        })

        doc.save("Miselanea.pdf");

        //End of downloading



    }


</script>


