
@{
    ViewBag.Title = "EvaluacionDocente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
        function Calcular() {

            //Cumple con la normativa interna
            var CCNITOTAL;
            var cont1 = 0;
            var CCNI1 = document.getElementById("CCNI1");
            if (CCNI1.checked == true) {
                cont1 = 5;
            }
            var CCNI2 = document.getElementById("CCNI2");
            if (CCNI2.checked == true) {
                cont1 = 4;
            }
            var CCNI3 = document.getElementById("CCNI3");
            if (CCNI3.checked == true) {
                cont1 = 3;
            }
            var CCNI4 = document.getElementById("CCNI4");
            if (CCNI4.checked == true) {
                cont1 = 2;
            }
            var CCNI5 = document.getElementById("CCNI5");
            if (CCNI5.checked == true) {
                cont1 = 1;
            }
            var CCNITOTAL = cont1;
            document.getElementById('CCNITOTAL').value = CCNITOTAL;



            //Cumple con el horario establecido
            var CCHETOTAL;
            var cont2 = 0;
            var CCHE1 = document.getElementById("CCHE1");
            if (CCHE1.checked == true) {
                cont2 = 5;
            }
            var CCHE2 = document.getElementById("CCHE2");
            if (CCHE2.checked == true) {
                cont2 = 4;
            }
            var CCHE3 = document.getElementById("CCHE3");
            if (CCHE3.checked == true) {
                cont2 = 3;
            }
            var CCHE4 = document.getElementById("CCHE4");
            if (CCHE4.checked == true) {
                cont2 = 2;
            }
            var CCHE5 = document.getElementById("CCHE5");
            if (CCHE5.checked == true) {
                cont2 = 1;
            }
            var CCHETOTAL = cont2;
            document.getElementById('CCHETOTAL').value = CCHETOTAL;



            //Atiende necesidades de las personas menores de edad
            var ANPMETOTAL;
            var cont3 = 0;
            var ANPME1 = document.getElementById("ANPME1");
            if (ANPME1.checked == true) {
                cont3 = 5;
            }
            var ANPME2 = document.getElementById("ANPME2");
            if (ANPME2.checked == true) {
                cont3 = 4;
            }
            var ANPME3 = document.getElementById("ANPME3");
            if (ANPME3.checked == true) {
                cont3 = 3;
            }
            var ANPME4 = document.getElementById("ANPME4");
            if (ANPME4.checked == true) {
                cont3 = 2;
            }
            var ANPME5 = document.getElementById("ANPME5");
            if (ANPME5.checked == true) {
                cont3 = 1;
            }
            var ANPMETOTAL = cont3;
            document.getElementById('ANPMETOTAL').value = ANPMETOTAL;



            //MANTIENE AL DIA LISTAS DE ASISTENCIA
            var MLADTOTAL;
            var cont4 = 0;
            var MLAD1 = document.getElementById("MLAD1");
            if (MLAD1.checked == true) {
                cont4 = 5;
            }
            var MLAD2 = document.getElementById("MLAD2");
            if (MLAD2.checked == true) {
                cont4 = 4;
            }
            var MLAD3 = document.getElementById("MLAD3");
            if (MLAD3.checked == true) {
                cont4 = 3;
            }
            var MLAD4 = document.getElementById("MLAD4");
            if (MLAD4.checked == true) {
                cont4 = 2;
            }
            var MLAD5 = document.getElementById("MLAD5");
            if (MLAD5.checked == true) {
                cont4 = 1;
            }
            var MLADTOTAL = cont4;
            document.getElementById('MLADTOTAL').value = MLADTOTAL;


            //MANTIENE ORDEN EN AULA
            var MAEOTOTAL;
            var cont5 = 0;
            var MAEO1 = document.getElementById("MAEO1");
            if (MAEO1.checked == true) {
                cont5 = 5;
            }
            var MAEO2 = document.getElementById("MAEO2");
            if (MAEO2.checked == true) {
                cont5 = 4;
            }
            var MAEO3 = document.getElementById("MAEO3");
            if (MAEO3.checked == true) {
                cont5 = 3;
            }
            var MAEO4 = document.getElementById("MAEO4");
            if (MAEO4.checked == true) {
                cont5 = 2;
            }
            var MAEO5 = document.getElementById("MAEO5");
            if (MAEO5.checked == true) {
                cont5 = 1;
            }
            var MAEOTOTAL = cont5;
            document.getElementById('MAEOTOTAL').value = MAEOTOTAL;


            //CUMPLE CON LA MINUTA
            var CCLMTOTAL;
            var cont6 = 0;
            var CCLM1 = document.getElementById("CCLM1");
            if (CCLM1.checked == true) {
                cont6 = 5;
            }
            var CCLM2 = document.getElementById("CCLM2");
            if (CCLM2.checked == true) {
                cont6 = 4;
            }
            var CCLM3 = document.getElementById("CCLM3");
            if (CCLM3.checked == true) {
                cont6 = 3;
            }
            var CCLM4 = document.getElementById("CCLM4");
            if (CCLM4.checked == true) {
                cont6 = 2;
            }
            var CCLM5 = document.getElementById("CCLM5");
            if (CCLM5.checked == true) {
                cont6 = 1;
            }
            var CCLMTOTAL = cont6;
            document.getElementById('CCLMTOTAL').value = CCLMTOTAL;



            //Cumple con horario de trabajo
            var CCHTTOTAL;
            var cont7 = 0;
            var CCHT1 = document.getElementById("CCHT1");
            if (CCHT1.checked == true) {
                cont7 = 5;
            }
            var CCHT2 = document.getElementById("CCHT2");
            if (CCHT2.checked == true) {
                cont7 = 4;
            }
            var CCHT3 = document.getElementById("CCHT3");
            if (CCHT3.checked == true) {
                cont7 = 3;
            }
            var CCHT4 = document.getElementById("CCHT4");
            if (CCHT4.checked == true) {
                cont7 = 2;
            }
            var CCHT5 = document.getElementById("CCHT5");
            if (CCHT5.checked == true) {
                cont7 = 1;
            }
            var CCHTTOTAL = cont7;
            document.getElementById('CCHTTOTAL').value = CCHTTOTAL;


            //MANEJA BIEN EL TIEMPO
            var MBTTOTAL;
            var cont8 = 0;
            var MBT1 = document.getElementById("MBT1");
            if (MBT1.checked == true) {
                cont8 = 5;
            }
            var MBT2 = document.getElementById("MBT2");
            if (MBT2.checked == true) {
                cont8 = 4;
            }
            var MBT3 = document.getElementById("MBT3");
            if (MBT3.checked == true) {
                cont8 = 3;
            }
            var MBT4 = document.getElementById("MBT4");
            if (MBT4.checked == true) {
                cont8 = 2;
            }
            var MBT5 = document.getElementById("MBT5");
            if (MBT5.checked == true) {
                cont8 = 1;
            }
            var MBTTOTAL = cont8;
            document.getElementById('MBTTOTAL').value = MBTTOTAL;


            //FORTALECE VALORES
            var FVTOTAL;
            var cont9 = 0;
            var FV1 = document.getElementById("FV1");
            if (FV1.checked == true) {
                cont9 = 5;
            }
            var FV2 = document.getElementById("FV2");
            if (FV2.checked == true) {
                cont9 = 4;
            }
            var FV3 = document.getElementById("FV3");
            if (FV3.checked == true) {
                cont9 = 3;
            }
            var FV4 = document.getElementById("FV4");
            if (FV4.checked == true) {
                cont9 = 2;
            }
            var FV5 = document.getElementById("FV5");
            if (FV5.checked == true) {
                cont9 = 1;
            }
            var FVTOTAL = cont9;
            document.getElementById('FVTOTAL').value = FVTOTAL;


            //PARTICIPA DE LAS CAPACITACIONES
            var PDCTOTAL;
            var cont10 = 0;
            var PDC1 = document.getElementById("PDC1");
            if (PDC1.checked == true) {
                cont10 = 5;
            }
            var PDC2 = document.getElementById("PDC2");
            if (PDC2.checked == true) {
                cont10 = 4;
            }
            var PDC3 = document.getElementById("PDC3");
            if (PDC3.checked == true) {
                cont10 = 3;
            }
            var PDC4 = document.getElementById("PDC4");
            if (PDC4.checked == true) {
                cont10 = 2;
            }
            var PDC5 = document.getElementById("PDC5");
            if (PDC5.checked == true) {
                cont10 = 1;
            }
            var PDCTOTAL = cont10;
            document.getElementById('PDCTOTAL').value = PDCTOTAL;


            //APLICA PLAN DE VIRTUDES
            var APDVTOTAL;
            var cont11 = 0;
            var APDV1 = document.getElementById("APDV1");
            if (APDV1.checked == true) {
                cont11 = 5;
            }
            var APDV2 = document.getElementById("APDV2");
            if (APDV2.checked == true) {
                cont11 = 4;
            }
            var APDV3 = document.getElementById("APDV3");
            if (APDV3.checked == true) {
                cont11 = 3;
            }
            var APDV4 = document.getElementById("APDV4");
            if (APDV4.checked == true) {
                cont11 = 2;
            }
            var APDV5 = document.getElementById("APDV5");
            if (APDV5.checked == true) {
                cont11 = 1;
            }
            var APDVTOTAL = cont11;
            document.getElementById('APDVTOTAL').value = APDVTOTAL;


            //DOC AL DIA
            var DDTOTAL;
            var cont12 = 0;
            var DD1 = document.getElementById("DD1");
            if (DD1.checked == true) {
                cont12 = 5;
            }
            var DD2 = document.getElementById("DD2");
            if (DD2.checked == true) {
                cont12 = 4;
            }
            var DD3 = document.getElementById("DD3");
            if (DD3.checked == true) {
                cont12 = 3;
            }
            var DD4 = document.getElementById("DD4");
            if (DD4.checked == true) {
                cont12 = 2;
            }
            var DD5 = document.getElementById("DD5");
            if (DD5.checked == true) {
                cont12 = 1;
            }
            var DDTOTAL = cont12;
            document.getElementById('DDTOTAL').value = DDTOTAL;



            //BRINDA SEGUIMIENTO A LAS FAMILIAS
            var BSAFTOTAL;
            var cont13 = 0;
            var BSAF1 = document.getElementById("BSAF1");
            if (BSAF1.checked == true) {
                cont13 = 5;
            }
            var BSAF2 = document.getElementById("BSAF2");
            if (BSAF2.checked == true) {
                cont13 = 4;
            }
            var BSAF3 = document.getElementById("BSAF3");
            if (BSAF3.checked == true) {
                cont13 = 3;
            }
            var BSAF4 = document.getElementById("BSAF4");
            if (BSAF4.checked == true) {
                cont13 = 2;
            }
            var BSAF5 = document.getElementById("BSAF5");
            if (BSAF5.checked == true) {
                cont13 = 1;
            }
            var BSAFTOTAL = cont13;
            document.getElementById('BSAFTOTAL').value = BSAFTOTAL;


            //TRABAJA EN EQUIPO
            var TEETOTAL;
            var cont14 = 0;
            var TEE1 = document.getElementById("TEE1");
            if (TEE1.checked == true) {
                cont14 = 5;
            }
            var TEE2 = document.getElementById("TEE2");
            if (TEE2.checked == true) {
                cont14 = 4;
            }
            var TEE3 = document.getElementById("TEE3");
            if (TEE3.checked == true) {
                cont14 = 3;
            }
            var TEE4 = document.getElementById("TEE4");
            if (TEE4.checked == true) {
                cont14 = 2;
            }
            var TEE5 = document.getElementById("TEE5");
            if (TEE5.checked == true) {
                cont14 = 1;
            }
            var TEETOTAL = cont14;
            document.getElementById('TEETOTAL').value = TEETOTAL;


            //POSEE ADAPTABILIDAD AL CAMBIO
            var PACTOTAL;
            var cont15 = 0;
            var PAC1 = document.getElementById("PAC1");
            if (PAC1.checked == true) {
                cont15 = 5;
            }
            var PAC2 = document.getElementById("PAC2");
            if (PAC2.checked == true) {
                cont15 = 4;
            }
            var PAC3 = document.getElementById("PAC3");
            if (PAC3.checked == true) {
                cont15 = 3;
            }
            var PAC4 = document.getElementById("PAC4");
            if (PAC4.checked == true) {
                cont15 = 2;
            }
            var PAC5 = document.getElementById("PAC5");
            if (PAC5.checked == true) {
                cont15 = 1;
            }
            var PACTOTAL = cont15;
            document.getElementById('PACTOTAL').value = PACTOTAL;


            //PROMUEVE TRABAJO COLABORATIVO
            var PTCTOTAL;
            var cont16 = 0;
            var PTC1 = document.getElementById("PTC1");
            if (PTC1.checked == true) {
                cont16 = 5;
            }
            var PTC2 = document.getElementById("PTC2");
            if (PTC2.checked == true) {
                cont16 = 4;
            }
            var PTC3 = document.getElementById("PTC3");
            if (PTC3.checked == true) {
                cont16 = 3;
            }
            var PTC4 = document.getElementById("PTC4");
            if (PTC4.checked == true) {
                cont16 = 2;
            }
            var PTC5 = document.getElementById("PTC5");
            if (PTC5.checked == true) {
                cont16 = 1;
            }
            var PTCTOTAL = cont16;
            document.getElementById('PTCTOTAL').value = PTCTOTAL;



            //POSEE ACTITUD POSITIVA Y RESPONSABLE
            var PAPRTOTAL;
            var cont17 = 0;
            var PAPR1 = document.getElementById("PAPR1");
            if (PAPR1.checked == true) {
                cont17 = 5;
            }
            var PAPR2 = document.getElementById("PAPR2");
            if (PAPR2.checked == true) {
                cont17 = 4;
            }
            var PAPR3 = document.getElementById("PAPR3");
            if (PAPR3.checked == true) {
                cont17 = 3;
            }
            var PAPR4 = document.getElementById("PAPR4");
            if (PAPR4.checked == true) {
                cont17 = 2;
            }
            var PAPR5 = document.getElementById("PAPR5");
            if (PAPR5.checked == true) {
                cont17 = 1;
            }
            var PAPRTOTAL = cont17;
            document.getElementById('PAPRTOTAL').value = PAPRTOTAL;


            //MANTIENE LEALTAD Y CONFIDENCIALIDAD
            var MLYCTOTAL;
            var cont18 = 0;
            var MLYC1 = document.getElementById("MLYC1");
            if (MLYC1.checked == true) {
                cont18 = 5;
            }
            var MLYC2 = document.getElementById("MLYC2");
            if (MLYC2.checked == true) {
                cont18 = 4;
            }
            var MLYC3 = document.getElementById("MLYC3");
            if (MLYC3.checked == true) {
                cont18 = 3;
            }
            var MLYC4 = document.getElementById("MLYC4");
            if (MLYC4.checked == true) {
                cont18 = 2;
            }
            var MLYC5 = document.getElementById("MLYC5");
            if (MLYC5.checked == true) {
                cont18 = 1;
            }
            var MLYCTOTAL = cont18;
            document.getElementById('MLYCTOTAL').value = MLYCTOTAL;



            //LIMPIEZA DE LAS AREAS
            var LDLATOTAL;
            var cont19 = 0;
            var LDLA1 = document.getElementById("LDLA1");
            if (LDLA1.checked == true) {
                cont19 = 5;
            }
            var LDLA2 = document.getElementById("LDLA2");
            if (LDLA2.checked == true) {
                cont19 = 4;
            }
            var LDLA3 = document.getElementById("LDLA3");
            if (LDLA3.checked == true) {
                cont19 = 3;
            }
            var LDLA4 = document.getElementById("LDLA4");
            if (LDLA4.checked == true) {
                cont19 = 2;
            }
            var LDLA5 = document.getElementById("LDLA5");
            if (LDLA5.checked == true) {
                cont19 = 1;
            }
            var LDLATOTAL = cont19;
            document.getElementById('LDLATOTAL').value = LDLATOTAL;


            //APOYA DOCENTE TITULAR
            var ADTTOTAL;
            var cont20 = 0;
            var ADT1 = document.getElementById("ADT1");
            if (ADT1.checked == true) {
                cont20 = 5;
            }
            var ADT2 = document.getElementById("ADT2");
            if (ADT2.checked == true) {
                cont20 = 4;
            }
            var ADT3 = document.getElementById("ADT3");
            if (ADT3.checked == true) {
                cont20 = 3;
            }
            var ADT4 = document.getElementById("ADT4");
            if (ADT4.checked == true) {
                cont20 = 2;
            }
            var ADT5 = document.getElementById("ADT5");
            if (ADT5.checked == true) {
                cont20 = 1;
            }
            var ADTTOTAL = cont20;
            document.getElementById('ADTTOTAL').value = ADTTOTAL;




            //total de calificaciones
            var CCNITOTAL = Number(document.getElementById('CCNITOTAL').value);
            var CCHETOTAL = Number(document.getElementById('CCHETOTAL').value);
            var ANPMETOTAL = Number(document.getElementById('ANPMETOTAL').value);
            var MLADTOTAL = Number(document.getElementById('MLADTOTAL').value);
            var MAEOTOTAL = Number(document.getElementById('MAEOTOTAL').value);
            var CCLMTOTAL = Number(document.getElementById('CCLMTOTAL').value);
            var CCHTTOTAL = Number(document.getElementById('CCHTTOTAL').value);
            var MBTTOTAL = Number(document.getElementById('MBTTOTAL').value);
            var FVTOTAL = Number(document.getElementById('FVTOTAL').value);
            var PDCTOTAL = Number(document.getElementById('PDCTOTAL').value);
            var APDVTOTAL = Number(document.getElementById('APDVTOTAL').value);
            var DDTOTAL = Number(document.getElementById('DDTOTAL').value);
            var BSAFTOTAL = Number(document.getElementById('BSAFTOTAL').value);
            var TEETOTAL = Number(document.getElementById('TEETOTAL').value);
            var PACTOTAL = Number(document.getElementById('PACTOTAL').value);
            var PTCTOTAL = Number(document.getElementById('PTCTOTAL').value);
            var PAPRTOTAL = Number(document.getElementById('PAPRTOTAL').value);
            var MLYCTOTAL = Number(document.getElementById('MLYCTOTAL').value);
            var LDLATOTAL = Number(document.getElementById('LDLATOTAL').value);
            var ADTTOTAL = Number(document.getElementById('ADTTOTAL').value);

            var TotalGenProf = CCNITOTAL + CCHETOTAL + ANPMETOTAL + MLADTOTAL + MAEOTOTAL + CCLMTOTAL +
                CCHTTOTAL + MBTTOTAL + FVTOTAL + PDCTOTAL + APDVTOTAL + DDTOTAL + BSAFTOTAL + TEETOTAL + PACTOTAL + PTCTOTAL + PAPRTOTAL +
                MLYCTOTAL + LDLATOTAL + ADTTOTAL;
            document.getElementById('TotalGenProf').value = TotalGenProf;

        }

    </script>

    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Evaluaciones</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<br />
<br />
<br />

<div class="col-md-6 col-md-offset-1">

    <a href="javascript:generatePDF()" id="downloadButton">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-danger" name="Descargar PDF"
               value="PDF">
    </a>

    <input type="button" style="float: right; margin-right: 90px;" class="btn btn-success" name="suma"
           value="Calcular" onclick="Calcular()"><a href="javascript:location.reload()">

        <input type="button" style="float: right; margin-right: 90px;" class="btn btn-primary" name="Nuevo"
               value="Nuevo">

    </a>


</div>
<br />
<br />
<br />
<div id="whatToPrint" style="font-size: large; text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black; width: 500px;">

    <form>
        <table class="table table-bordered">
            <tr>
                <td colspan="2"> <img src="~/images/Imagen1.png" width="100" height="100"></td>
                <td colspan="5" style="font-size: large; color: white; background-color: rgb(17, 164, 17); ">
                    Evaluación del Desemepeno Luz Divina
                </td>
                <td colspan="2">
                    <input type="text" style="border:white;" placeholder="Fecha del documento">
                    <form>
                        <input class="form-control" type="datetime-local" placeholder="Selecione la fecha">
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="1">Nombre:</td>
                <td colspan="2"><input type="text" style="border:white;"></td>
                <td colspan="1">5</td>
                <td colspan="1">4</td>
                <td colspan="1">3</td>
                <td colspan="1">2</td>
                <td colspan="1">1</td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td colspan="1">Area de Evaluación:</td>
                <td colspan="1">Docente</td>
                <td colspan="1">Puntos a otorgar</td>
                <td colspan="1">Excelente</td>
                <td colspan="1">Muy bueno</td>
                <td colspan="1">Bueno</td>
                <td colspan="1">Regular</td>
                <td colspan="1">Malo</td>
                <td colspan="1">Total</td>
            </tr>
            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: rgb(17, 164, 17);">Administrativo</td>
                <td colspan="1">Cumple con la normativa interna </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CCNI1"></td>
                <td colspan="1"><input type="checkbox" id="CCNI2"></td>
                <td colspan="1"><input type="checkbox" id="CCNI3"></td>
                <td colspan="1"><input type="checkbox" id="CCNI4"></td>
                <td colspan="1"><input type="checkbox" id="CCNI5"></td>
                <td colspan="1"><input type="text" placeholder="Total" id="CCNITOTAL" style="border:white; text-align: center;"></td>
            </tr>
            <tr>
                <td colspan="1">Cumple con el horario establecido</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CCHE1"></td>
                <td colspan="1"><input type="checkbox" id="CCHE2"></td>
                <td colspan="1"><input type="checkbox" id="CCHE3"></td>
                <td colspan="1"><input type="checkbox" id="CCHE4"></td>
                <td colspan="1"><input type="checkbox" id="CCHE5"></td>
                <td colspan="1"><input type="text" id="CCHETOTAL" placeholder="Total" style="border:white; text-align: center;"></td>

            </tr>

            <tr>
                <td colspan="1">Atiende las necesidades de las personas menores de edad</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="ANPME1"></td>
                <td colspan="1"><input type="checkbox" id="ANPME2"></td>
                <td colspan="1"><input type="checkbox" id="ANPME3"></td>
                <td colspan="1"><input type="checkbox" id="ANPME4"></td>
                <td colspan="1"><input type="checkbox" id="ANPME5"></td>
                <td colspan="1"><input type="text" id="ANPMETOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Mantiene al día las listas de asistencia</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MLAD1"></td>
                <td colspan="1"><input type="checkbox" id="MLAD2"></td>
                <td colspan="1"><input type="checkbox" id="MLAD3"></td>
                <td colspan="1"><input type="checkbox" id="MLAD4"></td>
                <td colspan="1"><input type="checkbox" id="MLAD5"></td>
                <td colspan="1"><input type="text" id="MLADTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td rowspan="6" style="font-size: large; color: white; background-color: lightblue;">Operacional</td>
                <td colspan="1"> Mantiene el aula en orden</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MAEO1"></td>
                <td colspan="1"><input type="checkbox" id="MAEO2"></td>
                <td colspan="1"><input type="checkbox" id="MAEO3"></td>
                <td colspan="1"><input type="checkbox" id="MAEO4"></td>
                <td colspan="1"><input type="checkbox" id="MAEO5"></td>
                <td colspan="1"><input type="text" id="MAEOTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td colspan="1">Cumple con la minuta</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CCLM1"></td>
                <td colspan="1"><input type="checkbox" id="CCLM2"></td>
                <td colspan="1"><input type="checkbox" id="CCLM3"></td>
                <td colspan="1"><input type="checkbox" id="CCLM4"></td>
                <td colspan="1"><input type="checkbox" id="CCLM5"></td>
                <td colspan="1"><input type="text" id="CCLMTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td colspan="1">Cumple con el horario de trabajo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="CCHT1"></td>
                <td colspan="1"><input type="checkbox" id="CCHT2"></td>
                <td colspan="1"><input type="checkbox" id="CCHT3"></td>
                <td colspan="1"><input type="checkbox" id="CCHT4"></td>
                <td colspan="1"><input type="checkbox" id="CCHT5"></td>
                <td colspan="1"><input type="text" id="CCHTTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td colspan="1">Manjea bien el tiempo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MBT1"></td>
                <td colspan="1"><input type="checkbox" id="MBT2"></td>
                <td colspan="1"><input type="checkbox" id="MBT3"></td>
                <td colspan="1"><input type="checkbox" id="MBT4"></td>
                <td colspan="1"><input type="checkbox" id="MBT5"></td>
                <td colspan="1"><input type="text" id="MBTTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td colspan="1">Fortalece valores</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="FV1"></td>
                <td colspan="1"><input type="checkbox" id="FV2"></td>
                <td colspan="1"><input type="checkbox" id="FV3"></td>
                <td colspan="1"><input type="checkbox" id="FV4"></td>
                <td colspan="1"><input type="checkbox" id="FV5"></td>
                <td colspan="1"><input type="text" id="FVTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>
            <tr>
                <td colspan="1">Participa de las capacitaciones</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PDC1"></td>
                <td colspan="1"><input type="checkbox" id="PDC2"></td>
                <td colspan="1"><input type="checkbox" id="PDC3"></td>
                <td colspan="1"><input type="checkbox" id="PDC4"></td>
                <td colspan="1"><input type="checkbox" id="PDC5"></td>
                <td colspan="1"><input type="text" id="PDCTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="3" style="font-size: large; color: white; background-color: yellow;">Profesionalismo</td>
                <td colspan="1"> Aplica plan de virtudes</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="APDV1"></td>
                <td colspan="1"><input type="checkbox" id="APDV2"></td>
                <td colspan="1"><input type="checkbox" id="APDV3"></td>
                <td colspan="1"><input type="checkbox" id="APDV4"></td>
                <td colspan="1"><input type="checkbox" id="APDV5"></td>
                <td colspan="1"><input type="text" id="APDVTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Documentos al día</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="DD1"></td>
                <td colspan="1"><input type="checkbox" id="DD2"></td>
                <td colspan="1"><input type="checkbox" id="DD3"></td>
                <td colspan="1"><input type="checkbox" id="DD4"></td>
                <td colspan="1"><input type="checkbox" id="DD5"></td>
                <td colspan="1"><input type="text" id="DDTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Brinda seguimiento a las familias</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="BSAF1"></td>
                <td colspan="1"><input type="checkbox" id="BSAF2"></td>
                <td colspan="1"><input type="checkbox" id="BSAF3"></td>
                <td colspan="1"><input type="checkbox" id="BSAF4"></td>
                <td colspan="1"><input type="checkbox" id="BSAF5"></td>
                <td colspan="1"><input type="text" id="BSAFTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="4" style="font-size: large; color: white; background-color: salmon;">Liderazgo</td>
                <td colspan="1"> Trabaja en equipo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="TEE1"></td>
                <td colspan="1"><input type="checkbox" id="TEE2"></td>
                <td colspan="1"><input type="checkbox" id="TEE3"></td>
                <td colspan="1"><input type="checkbox" id="TEE4"></td>
                <td colspan="1"><input type="checkbox" id="TEE5"></td>
                <td colspan="1"><input type="text" id="TEETOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Posee adaptabilidad al cambio</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PAC1"></td>
                <td colspan="1"><input type="checkbox" id="PAC2"></td>
                <td colspan="1"><input type="checkbox" id="PAC3"></td>
                <td colspan="1"><input type="checkbox" id="PAC4"></td>
                <td colspan="1"><input type="checkbox" id="PAC5"></td>
                <td colspan="1"><input type="text" id="PACTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Promuebe el trabajo colaborativo</td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PTC1"></td>
                <td colspan="1"><input type="checkbox" id="PTC2"></td>
                <td colspan="1"><input type="checkbox" id="PTC3"></td>
                <td colspan="1"><input type="checkbox" id="PTC4"></td>
                <td colspan="1"><input type="checkbox" id="PTC5"></td>
                <td colspan="1"><input type="text" id="PTCTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>


            <tr>
                <td colspan="1">Posee una actitud positiva y responsable </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="PAPR1"></td>
                <td colspan="1"><input type="checkbox" id="PAPR2"></td>
                <td colspan="1"><input type="checkbox" id="PAPR3"></td>
                <td colspan="1"><input type="checkbox" id="PAPR4"></td>
                <td colspan="1"><input type="checkbox" id="PAPR5"></td>
                <td colspan="1"><input type="text" id="PAPRTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td rowspan="3" style="font-size: large; color: white; background-color: grey;">Ejecución</td>
                <td colspan="1"> Mantiene lealtad y confidencialidad </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="MLYC1"></td>
                <td colspan="1"><input type="checkbox" id="MLYC2"></td>
                <td colspan="1"><input type="checkbox" id="MLYC3"></td>
                <td colspan="1"><input type="checkbox" id="MLYC4"></td>
                <td colspan="1"><input type="checkbox" id="MLYC5"></td>
                <td colspan="1"><input type="text" id="MLYCTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Limpieza de las áreas </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="LDLA1"></td>
                <td colspan="1"><input type="checkbox" id="LDLA2"></td>
                <td colspan="1"><input type="checkbox" id="LDLA3"></td>
                <td colspan="1"><input type="checkbox" id="LDLA4"></td>
                <td colspan="1"><input type="checkbox" id="LDLA5"></td>
                <td colspan="1"><input type="text" id="LDLATOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="1">Apoya a la docente titular </td>
                <td colspan="1"> 5</td>
                <td colspan="1"><input type="checkbox" id="ADT1"></td>
                <td colspan="1"><input type="checkbox" id="ADT2"></td>
                <td colspan="1"><input type="checkbox" id="ADT3"></td>
                <td colspan="1"><input type="checkbox" id="ADT4"></td>
                <td colspan="1"><input type="checkbox" id="ADT5"></td>
                <td colspan="1"><input type="text" id="ADTTOTAL" style="border:white; text-align: center;" placeholder="Total"></td>
            </tr>

            <tr>
                <td colspan="5"></td>
                <td colspan="3"> Total </td>
                <td colspan="1"><input type="text" id="TotalGenProf" style="border:white; text-align: center;" placeholder="Total General"></td>


            </tr>


        </table>
        <br>


    </form>
</div>
<div>



</div>


<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>


<script>


    config = {
        dateFormat: "d-m-y",
    }

    flatpickr("input[type=datetime-local]", config);

    async function generatePDF() {


        //Downloading
        var downloading = document.getElementById("whatToPrint");
        var doc = new jsPDF('p', 'pt');

        await html2canvas(downloading, {
            allowTaint: true,
            useCORS: true,
            width: 2350
        }).then((canvas) => {
            //Canvas (convert to PNG)
            doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 15, 1320, 800);
        })

        doc.save("Docente.pdf");

        //End of downloading



    }


</script>





